@include b(range) {
  @include e(date-picker) {
    width: 480px;

    &.za-range__date-time-picker {
      width: 720px;
    }

    @include e(date-picker-table) {
      @include clearfix;

      @include e(date-picker-left) {
        float: left;
        width: 50%;
        border-right: 1px solid #e9e9e9;
      }

      @include e(date-picker-right) {
        float: right;
        width: 50%;
        border-left: 1px solid #e9e9e9;
      }

      .za-time__select .za-select .za-select__selection {
        max-height: 230px !important;
      }
    }

    @include e(date-picker-footer) {
      height: 40px;
      line-height: 40px;
      text-align: center;

      @include e(date-picker-footer-btn) {
        margin-right: 8px;

        &.disabled {
          color: $menuitem-disabled-color;
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }
}

