$browser-default-font-size: 14;
$browser-default-font-size-px: 14px !default;

$base-theme-default:       #e6e6e6 !default;
$base-theme-success:       #5cb85c !default;
$base-theme-info:          #2db7f5 !default;
$base-theme-warning:       #f0ad4e !default;
$base-theme-error:         #f50 !default;
/*$base-theme-error:         #d9534f !default;*/

$base-radius-xl:           6px !default;
$base-radius-lg:           5px !default;
$base-radius:              4px !default;
$base-radius-sm:           4px !default;
$base-radius-xs:           4px !default;

$box-shadow-base:          0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

$base-height-xl:           40px !default;
$base-height-lg:           36px !default;
$base-height:              32px !default;
$base-height-sm:           28px !default;
$base-height-xs:           24px !default;

$base-padding-xl:          14px !default;
$base-padding-lg:          12px !default;
$base-padding:             10px !default;
$base-padding-sm:          8px !default;
$base-padding-xs:          4px !default;

$base-fontSize-xl:         18px !default;
$base-fontSize-lg:         16px !default;
$base-fontSize:            14px !default;
$base-fontSize-sm:         14px !default;
$base-fontSize-xs:         12px !default;

$base-line-height:         1.5 !default;

$base-btn-default-color:   #333 !default;
$base-btn-default-bg:      $base-theme-default !default;
$base-btn-default-border:  $base-btn-default-bg !default;

$base-btn-info-color:      #fff !default;
$base-btn-info-bg:         $base-theme-info !default;
$base-btn-info-border:     $base-btn-info-bg !default;

$base-btn-success-color:   #fff !default;
$base-btn-success-bg:      $base-theme-success !default;
$base-btn-success-border:  $base-btn-success-bg !default;

$base-btn-warning-color:   #fff !default;
$base-btn-warning-bg:      $base-theme-warning !default;
$base-btn-warning-border:  $base-btn-warning-bg !default;

$base-btn-error-color:     #fff !default;
$base-btn-error-bg:        $base-theme-error !default;
$base-btn-error-border:    $base-btn-error-bg !default;




$base-tag-default-color:   #444 !default;
$base-tag-default-bg:      $base-theme-default !default;

$base-tag-info-color:      #fff !default;
$base-tag-info-bg:         $base-theme-info !default;

$base-tag-success-color:   #fff !default;
$base-tag-success-bg:      $base-theme-success !default;

$base-tag-warning-color:   #fff !default;
$base-tag-warning-bg:      $base-theme-warning !default;

$base-tag-error-color:     #fff !default;
$base-tag-error-bg:        $base-theme-error !default;


$base-zindex-mask:         1000 !default;
$base-zindex-modal:        1100 !default;
$base-zindex-loading:      1 !default;
$base-zindex-message:      1300 !default;


$base-modal-radius:        6px !default;
$base-modal-round:         20px !default;



$base-icon-url:            '//at.alicdn.com/t/font_64075_w7tvzqpf0n';

$screen-xs:                 480px !default;

$screen-xs-min:             $screen-xs !default;
$screen-phone:              $screen-xs-min !default;
$screen-sm:                 768px !default;
$screen-sm-min:             $screen-sm !default;
$screen-tablet:             $screen-sm-min !default;

$screen-md:                 992px !default;
$screen-md-min:             $screen-md !default;
$screen-desktop:            $screen-md-min !default;

$screen-lg:                 1200px !default;
$screen-lg-min:             $screen-lg !default;
$screen-lg-desktop:         $screen-lg-min !default;

$screen-xs-max:             ($screen-sm-min - 1) !default;
$screen-sm-max:             ($screen-md-min - 1) !default;
$screen-md-max:             ($screen-lg-min - 1) !default;


$grid-columns:              12 !default;
$grid-gutter-width:         30px !default;
$grid-float-breakpoint:     $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

$container-tablet:          (750px + $grid-gutter-width) !default;
$container-sm:              $container-tablet !default;

$container-desktop:         (970px + $grid-gutter-width) !default;
$container-md:              $container-desktop !default;

$container-large-desktop:   (1170px + $grid-gutter-width) !default;
$container-lg:              $container-large-desktop !default;

$menu-default-bg-color:     #fff;
$menu-dark-bg-color:        #001529;
$menu-collapsed-width:      80px;
$submenu-dark-bg-color:     #000c17;
$menuitem-dark-color:       hsla(0,0%,100%,.65);
$menuitem-dark-active-color:#fff;
$menuitem-default-color:    #666;
$menuitem-active-color:     #1890ff;
$menuitem-active-bg-color:  #e6f7ff;
$menuitem-disabled-color:   rgba(0, 0, 0, 0.25);
$menuitem-divider-bg-color: #e5e5e5;
$menuitem-horizontal-padding: 20px;
$menuitem-horizontal-height:  56px;
