/*   default variables     */

/* -------------  Colors  ------------- */
$--color-white: #fff !default;
$--color-black: #000 !default;

$--color-primary: #00BC70 !default;
$--color-primary-darker: hsl(156, 100%, 32.9%) !default;         // #00a865 active focus 颜色
$--color-primary-light-80: rgba($--color-primary, .8) !default; // #33C98D hover颜色
$--color-primary-light-50: rgba($--color-primary, .5) !default; // #7FDDB7 disable颜色
$--color-primary-light-10: rgba($--color-primary, .1) !default; // #E5F8F0 辅助色值
$--color-primary-light-6: rgba($--color-primary, .06) !default; // #F0FBF7 辅助色值

$--color-success: #00BC70 !default;
$--color-info: #00BC70 !default;
$--color-warning: #EC9131 !default;
$--color-danger: #FF5050 !default;

$--color-success-darker: hsl(156, 100%, 32.9%) !default;
$--color-info-darker: hsl(156, 100%, 32.9%) !default;
$--color-warning-darker: hsl(31, 83.1%, 51.9%) !default;
$--color-danger-darker: hsl(0, 100%, 61.7%) !default;

$--color-success-lighter: hsla(156, 100%, 36.9%, .5) !default; // for disable color
$--color-info-lighter: hsla(156, 100%, 36.9%, .5) !default;    // for disable color
$--color-warning-lighter: hsla(31, 83.1%, 55.9%, .5) !default; // for disable color
$--color-danger-lighter: hsla(0, 100%, 65.7%, .5) !default;    // for disable color

/* -------------  Fonts  ------------- */
$--font-family:
  "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
  Arial, sans- serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$--font-size-h1: 32px !default;
$--font-size-h2: 22px !default;
$--font-size-h3: 18px !default;
$--font-size-large: 16px !default;
$--font-size-base: 14px !default;
$--font-size-small: 12px !default;
$--font-size-remark: 10px !default;

$--color-text-primary: #343434 !default;
$--color-text-regular: #616161 !default;
$--color-text-secondary: #909090 !default;
$--color-text-placeholder-or-disabled: #BCBCBC !default;
$--color-text-tip: #F2F2F2 !default;

/* -------------  Line Height  ------------- */
$--font-line-height-base: 1.5 !default;

/* -------------  Height  ------------- */
$--base-height-xl: 40px !default;
$--base-height-lg: 36px !default;
$--base-height: 32px !default;
$--base-height-sm: 28px !default;
$--base-height-xs: 24px !default;

/* -------------  Margin  ------------- */
$--margin-size-4: 4px !default;
$--margin-size-8: 8px !default;
$--margin-size-12: 12px !default;
$--margin-size-16: 16px !default;
$--margin-size-20: 20px !default;
$--margin-size-24: 24px !default;
$--margin-size-24: 28px !default;

/* -------------  Padding  ------------- */
$--padding-size-4: 4px !default;
$--padding-size-8: 8px !default;
$--padding-size-12: 12px !default;
$--padding-size-16: 16px !default;
$--padding-size-20: 20px !default;

/* -------------  Border & Radius  ------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-base: #E6E6E6 !default;
$--border-color-light: #BCBCBC !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-radius-large: 6px !default;
$--border-radius-base: 4px !default;
$--border-radius-small: 2px !default;

/* -------------  Box Shadow  ------------- */
$--box-shadow-light: 0 2px 8px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .1) !default;
$--box-shadow-dark: 0 4px 12px rgba(0, 0, 0, 0.2) !default;

/* -------------  Button  ------------- */
$--button-ghost-disabled-border: #e9e9e9 !default;
$--button-ghost-disabled-color: rgba(0, 0, 0, 0.35) !default;

$--button-height-xl: 40px !default;
$--button-height-lg: 36px !default;
$--button-height: 32px !default;
$--button-height-sm: 28px !default;
$--button-height-xs: 24px !default;

$--button-fontSize-xl: 18px !default;
$--button-fontSize-lg: 16px !default;
$--button-fontSize: 14px !default;
$--button-fontSize-sm: 12px !default;
$--button-fontSize-xs: 12px !default;

$--button-default-color:   rgba(0, 0, 0, 0.65) !default;
$--button-default-bg:      $--color-white !default;
$--button-default-border:  #d9d9d9 !default;

$--button-info-color:      $--color-white !default;
$--button-info-bg:         $--color-info !default;
$--button-info-border:     $--color-info !default;

$--button-success-color:   $--color-white !default;
$--button-success-bg:      $--color-success !default;
$--button-success-border:  $--color-success !default;

$--button-warning-color:   $--color-white !default;
$--button-warning-bg:      $--color-warning !default;
$--button-warning-border:  $--color-warning !default;

$--button-danger-color:   $--color-white !default;
$--button-danger-bg:      $--color-danger !default;
$--button-danger-border:  $--color-warning !default;

/* -------------  Radio  ------------- */
$--button-radio-btn-disabled-color: $--color-text-secondary !default;
$--button-radio-btn-disabled-bg: rgba(250, 250, 250, 1) !default;

/* -------------  Menu  ------------- */
$--menu-color: #343434 !default;
$--menu-default-bg-color: $--color-white !default;
$--menu-dark-bg-color: #001529 !default;
$--menu-collapsed-width: 80px !default;
$--submenu-dark-bg-color: #000c17 !default;
$--menuitem-dark-color: hsla(0, 0%, 100%, .65) !default;
$--menuitem-dark-active-color: $--color-white !default;
$--menuitem-default-color: #343434 !default;
$--menuitem-active-color: $--color-primary;
$--menuitem-active-bg-color: rgba(0, 188, 112, .0625);
$--menuitem-disabled-color: rgba(0, 0, 0, 0.25);
$--menuitem-divider-bg-color: #e5e5e5;
$--menuitem-horizontal-padding: 20px;
$--menuitem-horizontal-height: 56px;

/* -------------  Avatar  ------------- */

$--avatar-width: 40px !default;
$--avatar-height: 40px !default;
$--avatar-border-radius: 50% !default;

$--avatar-width-xl: 72px !default;
$--avatar-height-xl: 72px !default;

$--avatar-width-lg: 48px !default;
$--avatar-height-lg: 48px !default;

$--avatar-width-sm: 32px !default;
$--avatar-height-sm: 32px !default;

$--avatar-width-xs: 24px !default;
$--avatar-height-xs: 24px !default;

$--avatar-fontSize: 14px !default;
$--avatar-fontSize-icon-xl: 32px !default;
$--avatar-fontSize-icon: 16px !default;
$--avatar-fontSize-icon-lg: 18px !default;
$--avatar-fontSize-icon-sm: 14px !default;
$--avatar-fontSize-icon-xs: 12px !default;

$--avatar-default-color: #fff !default;
$--avatar-default-bg-color: #ccc !default;

/* -------------  Switch  ------------- */

$--switch-width: 44px !default;
$--switch-height: 22px !default;

$--switch-width-sm: 28px !default;
$--switch-height-sm: 16px !default;

$--switch-default-color: #bcbcbc;
$--switch-checked-margin-left: -2px;
$--switch-loadingIcon-font-size: 12px;
$--switch-sm-loadingIcon-scale: .66667;
$--switch-disabled-opacity: .5;

$--switch-font-size: 12px;
$--switch-font-size-sm: 10px;

$--switch-inner-left: 24px;
$--switch-inner-right: 6px;
$--switch-checked-inner-left: 6px;
$--switch-checked-inner-right: 24px;
$--switch-sm-inner-left: 18px;
$--switch-sm-inner-right: 3px;
$--switch-sm-checked-inner-left: 3px;
$--switch-sm-checked-inner-right: 18px;
