@import '../core/index';

:root {
  @include defineColorHSL(--theme-default, 0, 0%, 90%);
  @include defineColorHSL(--theme-primary, 156, 100%, 36.9%);
  @include defineColorHSL(--theme-success, 156, 100%, 36.9%);
  @include defineColorHSL(--theme-warning, 31, 83.1%, 55.9%);
  @include defineColorHSL(--theme-danger, 0, 100%, 65.7%);

  // 文字色
  --color-text: #343434; // 基本
  --color-text-inverse: #fff; // 反色
  --color-text-placeholder: #a9a9a9; // 文本框提示
  --color-text-disabled: #bcbcbc; // 失效
  --color-text-caption: #909090; // 辅助描述
  --color-link: var(--theme-primary); // 链接

  //阴影
  --box-shadow-light: 0 2px 8px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 4px 12px rgba(0, 0, 0, 0.2);

  // 背景色
  // --background-active: #e6e6e6;
  --background-disabled: #fafafa;

  // 边框色
  --border-color: #dcdcdc;
  --border-disabled: #e6e6e6;

  // 堆叠顺序
  --zindex-tooltip: 1500;

  // 透明度
  --opacity-disabled: 0.5;
  --opacity-tooltip: 0.8;

  // 圆角
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-round: 1000px;
  --radius-circle: 50%;

  // 水平间距
  --padding-h-xs: 8px;
  --padding-h-sm: 12px;
  --padding-h-md: 14px;
  --padding-h-lg: 16px;
  --padding-h-xl: 18px;

  // 垂直间距
  --padding-v-xs: 6px;
  --padding-v-sm: 8px;
  --padding-v-md: 12px;
  --padding-v-lg: 14px;
  --padding-v-xl: 18px;

  // 字体大小
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;

  // Avatar
  --avatar-border-radius: 50%;
  --avatar-fontSize: 14px;
  --avatar-width-md: 40px;
  --avatar-height-md: 40px;
  --avatar-width-xl: 72px;
  --avatar-height-xl: 72px;
  --avatar-width-lg: 48px;
  --avatar-height-lg: 48px;
  --avatar-width-sm: 32px;
  --avatar-height-sm: 32px;
  --avatar-width-xs: 24px;
  --avatar-height-xs: 24px;
  --avatar-default-color: #fff;
  --avatar-default-bg-color: #ccc;

  // Badge
  --badge-height: 14px;
  --badge-font-size: var(--font-size-xs);
  --badge-padding-h: 4px;
  --badge-dot-diameter: 8px;
  --badge-border-radius-rect: var(--radius-sm);
  --badge-border-radius-round: var(--radius-round);
  --badge-sup-top: -4px;
  --badge-text-color: #fff;

  // Breadcrumb
  --breadcrumb-default-font-size: 14px;
  --breadcrumb-default-color: var(--color-text-caption);
  --breadcrumb-color: var(--color-text);
  --breadcrumb-hover-color: var(--theme-primary);
  --breadcrumb-separator-color: rgba(0, 0, 0, 0.45);

  // Button
  --button-ghost-disabled-border: var(--border-color);
  --button-ghost-disabled-color: var(--color-text-inverse);
  --button-padding-h-xl: var(--padding-h-xl);
  --button-padding-h-lg: var(--padding-h-lg);
  --button-padding-h-md: var(--padding-h-md);
  --button-padding-h-sm: var(--padding-h-sm);
  --button-padding-h-xs: var(--padding-h-xs);
  --button-height-xl: 40px;
  --button-height-lg: 36px;
  --button-height-md: 32px;
  --button-height-sm: 28px;
  --button-height-xs: 24px;
  --button-font-size-xl: 18px;
  --button-font-size-lg: 16px;
  --button-font-size-md: 14px;
  --button-font-size-sm: 12px;
  --button-font-size-xs: 12px;
  --button-icon-size-xl: 20px;
  --button-icon-size-lg: 18px;
  --button-icon-size-md: 16px;
  --button-icon-size-sm: 14px;
  --button-icon-size-xs: 14px;
  --button-disabled-opacity: var(--opacity-disabled);
  --button-disabled-color-ghost: var(--border-disabled);
  --button-default-background: var(--color-text-inverse);
  --button-default-border: var(--border-color);
  --button-default-color: var(--color-text);
  --button-default-hover-background: var(--color-text-inverse);
  --button-default-hover-border: var(--theme-primary);
  --button-default-hover-color: var(--theme-primary);
  --button-default-active-background: var(--color-text-inverse);
  --button-default-active-border: var(--theme-primary-dark);
  --button-default-active-color: var(--theme-primary-dark);
  --button-default-ghost-border: var(--color-text-inverse);
  --button-default-ghost-color: var(--color-text-inverse);
  --button-default-ghost-hover-border: var(--theme-primary-light);
  --button-default-ghost-hover-color: var(--theme-primary-light);
  --button-default-ghost-active-border: var(--theme-primary-dark);
  --button-default-ghost-active-color: var(--theme-primary-dark);
  --button-primary-background: var(--theme-primary);
  --button-primary-border: var(--theme-primary);
  --button-primary-color: var(--color-text-inverse);
  --button-primary-hover-background: var(--theme-primary-light);
  --button-primary-hover-border: var(--theme-primary-light);
  --button-primary-hover-color: var(--color-text-inverse);
  --button-primary-active-background: var(--theme-primary-dark);
  --button-primary-active-border: var(--theme-primary-dark);
  --button-primary-active-color: var(--color-text-inverse);
  --button-primary-ghost-border: var(--theme-primary);
  --button-primary-ghost-color: var(--theme-primary);
  --button-primary-ghost-hover-border: var(--theme-primary-light);
  --button-primary-ghost-hover-color: var(--theme-primary-light);
  --button-primary-ghost-active-border: var(--theme-primary-dark);
  --button-primary-ghost-active-color: var(--theme-primary-dark);
  --button-primary-gap-color: hsla(0, 0%, 100%, 0.3);
  --button-danger-background: var(--theme-danger);
  --button-danger-border: var(--theme-danger);
  --button-danger-color: var(--color-text-inverse);
  --button-danger-hover-background: var(--theme-danger-light);
  --button-danger-hover-border: var(--theme-danger-light);
  --button-danger-hover-color: var(--color-text-inverse);
  --button-danger-active-background: var(--theme-danger-dark);
  --button-danger-active-border: var(--theme-danger-dark);
  --button-danger-active-color: var(--color-text-inverse);
  --button-danger-ghost-border: var(--theme-danger);
  --button-danger-ghost-color: var(--theme-danger);
  --button-danger-ghost-hover-border: var(--theme-danger-light);
  --button-danger-ghost-hover-color: var(--theme-danger-light);
  --button-danger-ghost-active-border: var(--theme-danger-dark);
  --button-danger-ghost-active-color: var(--theme-danger-dark);

  // activity-indicator
  --activity-indicator-size-md: 16px;
  --activity-indicator-size-lg: 32px;
  --activity-indicator-path-color: #e6e6e6;

  // Checkbox
  --checkbox-size: 14px;
  --checkbox-radius: var(--radius-sm);
  --checkbox-border-color: var(--border-color);
  --checkbox-background: var(--color-text-inverse);
  --checkbox-disabled-background: #f2f2f2;

  // Radio
  --radio-inner-width: 14px;
  --radio-inner-height: 14px;
  --radio-height-sm: 24px;
  --radio-height-md: 32px;
  --radio-height-lg: 40px;
  --radio-font-size-sm: 14px;
  --radio-font-size-md: 16px;
  --radio-font-size-lg: 18px;
  --radio-padding-v-sm: 10px;
  --radio-padding-v-md: 16px;
  --radio-padding-v-lg: 16px;
  --radio-hover-color: var(--theme-primary);
  --radio-default-border: #e6e6e6;
  --radio-default-background: #fff;
  --radio-disabled-color: #bcbcbc;
  --radio-disabled-border: #e6e6e6;
  --radio-disabled-background: #fafafa;
  --radio-disabled-checked-background: #f2f2f2;
  --radio-checked-color: var(--theme-primary);
  --radio-checked-border: var(--theme-primary);
  --radio-button-color: #909090;

  // Menu
  --menu-color: #343434;
  --menu-default-bg-color: var(--color-text-inverse);
  --menu-dark-bg-color: #001529;
  --menu-collapsed-width: 80px;
  --submenu-dark-bg-color: #000c17;
  --menuitem-dark-color: hsla(0, 0%, 100%, 0.65);
  --menuitem-dark-active-color: var(--color-text-inverse);
  --menuitem-default-color: #343434;
  --menuitem-active-color: var(--theme-primary);
  --menuitem-active-bg-color: rgba(0, 188, 112, 0.0625);
  --menuitem-disabled-color: rgba(0, 0, 0, 0.25);
  --menuitem-divider-bg-color: #e5e5e5;
  --menuitem-horizontal-padding: 20px;
  --menuitem-horizontal-height: 56px;

  // loading
  --loading-height-xs: 12px;
  --loading-height-md: 24px;
  --loading-height-lg: 36px;
  --loading-margin-h-xs: var(--padding-h-xs);
  --loading-margin-h-md: var(--padding-h-md);
  --loading-margin-h-lg: var(--padding-h-lg);
  --loading-font-size-xs: var(--font-size-xs);
  --loading-font-size-md: var(--font-size-md);
  --loading-font-size-lg: var(--font-size-lg);
  --loading-default-svg-color: var(--theme-primary);
  --loading-default-text-color: var(--color-text-disabled);
  --loading-default-mask-color: rgba(255, 255, 255, 0.4);
  --loading-default-mask-zIndex: 1000;
  --loading-inverse-mask-color: rgba(0, 0, 0, 0.4);

  // Tag
  --tag-height-lg: 32px;
  --tag-height-md: 28px;
  --tag-height-sm: 24px;
  --tag-height-xs: 20px;
  --tag-padding-h-lg: 16px;
  --tag-padding-h: 12px;
  --tag-font-size: 12px;
  --tag-icon-size-lg: 14px;
  --tag-icon-size: 12px;
  --tag-icon-size-xs: 10px;
  --tag-color-disabled: var(--color-text-disabled);
  --tag-disabled-opacity: var(--opacity-disabled);
  --tag-default-background: #f9f9f9;
  --tag-default-color: #616161;
  --tag-default-border: var(--border-color);
  --tag-primary-color: var(--theme-primary);
  --tag-success-color: var(--theme-success);
  --tag-warning-color: var(--theme-warning);
  --tag-danger-color: var(--theme-danger);
  --tag-primary-hover-background: var(--theme-primary-light);
  --tag-primary-active-background: var(--theme-primary-dark);
  --tag-color-green: 0, 188, 112;
  --tag-color-blue: 84, 192, 232;
  --tag-color-orange: 236, 145, 49;
  --tag-color-red: 255, 80, 80;

  // Icon
  --icon-font-size-sm: 16px;
  --icon-font-size-md: 24px;
  --icon-font-size-lg: 32px;
  --icon-theme-default: var(--color-text);

  //Switch
  --switch-width-md: 48px;
  --switch-width-sm: 32px;
  --switch-height-md: 20px;
  --switch-height-sm: 16px;
  --switch-background: #bcbcbc;

  // Tooltip
  --tooltip-font-size: 12px;
  --tooltip-color: var(--color-text-inverse);
  --tooltip-arrow-size: 4px;
  --tooltip-light-background-color: #f2f2f2;
  --tooltip-dark-background-color: rgba(0, 0, 0, var(--opacity-tooltip));
  --tooltip-padding-v: var(--padding-v-xs);
  --tooltip-padding-h: var(--padding-h-xs);

  // Steps
  --steps-title-color: var(--color-text);
  --steps-desc-color: var(--color-text-caption);
  --steps-title-font-size: var(--font-size-md);
  --steps-desc-font-size: var(--font-size-md);
  --steps-border-color: var(--border-color);
  --steps-status-wait: #bcbcbc;
  --steps-status-process: var(--theme-primary);
  --steps-status-error: var(--theme-danger);
  --steps-icon-size: 28px;
  --steps-content-width: 140px;
}
