@import "../core/index";

:root {
  @include defineColorHSL(--theme-default, 0, 0%, 90%);
  @include defineColorHSL(--theme-primary, 156, 100%, 36.9%);
  @include defineColorHSL(--theme-success, 156, 100%, 36.9%);
  @include defineColorHSL(--theme-warning, 31, 83.1%, 55.9%);
  @include defineColorHSL(--theme-danger, 0, 100%, 65.7%);

  --color-white: #fff;
  --color-black: #000;

  // 文字色
  --color-text: #464646;                    // 基本
  --color-text-inverse: #fff;               // 反色
  --color-text-placeholder: #a9a9a9;        // 文本框提示
  --color-text-disabled: #bcbcbc;           // 失效
  --color-text-caption: #909090;            // 辅助描述
  --color-link: var(--theme-primary);         // 链接

  //阴影
  --box-shadow-light: 0 2px 8px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .1);
  --box-shadow-dark: 0 4px 12px rgba(0, 0, 0, 0.2);

  // 背景色
  --background-active: #e6e6e6;
  --background-disabled: #bcbcbc;

  // 边框色
  --border-color: #e6e6e6;
  --border-disabled: #bcbcbc;

  // 透明度
  --opacity-disabled: .5;

  // 圆角
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-round: 1000px;
  --radius-circle: 50%;

  // 水平间距
  --padding-h-xs: 8px;
  --padding-h-sm: 12px;
  --padding-h-md: 16px;
  --padding-h-lg: 20px;
  --padding-h-xl: 24px;

  // 垂直间距
  --padding-v-xs: 6px;
  --padding-v-sm: 8px;
  --padding-v-md: 12px;
  --padding-v-lg: 14px;
  --padding-v-xl: 18px;

  // 字体大小
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;

  // Button
  --button-ghost-disabled-border: #e9e9e9;
  --button-ghost-disabled-color: rgba(0, 0, 0, 0.35);

  --button-padding-h-xl: var(--padding-h-xl);
  --button-padding-h-lg: var(--padding-h-lg);
  --button-padding-h-md: var(--padding-h-md);
  --button-padding-h-sm: var(--padding-h-sm);
  --button-padding-h-xs: var(--padding-h-xs);

  --button-height-xl: 40px;
  --button-height-lg: 36px;
  --button-height-md: 32px;
  --button-height-sm: 28px;
  --button-height-xs: 24px;

  --button-font-size-xl: 18px;
  --button-font-size-lg: 16px;
  --button-font-size-md: 14px;
  --button-font-size-sm: 12px;
  --button-font-size-xs: 12px;

  --button-icon-size-xl: 22px;
  --button-icon-size-lg: 20px;
  --button-icon-size-md: 18px;
  --button-icon-size-sm: 16px;
  --button-icon-size-xs: 14px;

  --button-disabled-opacity: var(--opacity-disabled);
  --button-disabled-color-ghost: var(--border-disabled);
  --button-default-background: var(--color-text-inverse);
  --button-default-border: var(--theme-default);
  --button-default-color: var(--color-text);
  --button-default-hover-background: var(--color-white);
  --button-default-hover-border: var(--theme-primary);
  --button-default-hover-color: var(--theme-primary);
  --button-default-active-background: var(--theme-default);
  --button-default-active-border: var(--theme-default);
  --button-default-active-color: var(--color-text);
  --button-default-ghost-border: var(--color-text-inverse);
  --button-default-ghost-color: var(--color-text-inverse);
  --button-default-ghost-active-border: var(--theme-default);
  --button-default-ghost-active-color: var(--theme-default);

  --button-primary-background: var(--theme-primary);
  --button-primary-border: var(--theme-primary);
  --button-primary-color: var(--color-text-inverse);
  --button-primary-hover-background: var(--theme-primary-light);
  --button-primary-hover-border: var(--theme-primary-light);
  --button-primary-hover-color: var(--color-white);
  --button-primary-active-background: var(--theme-primary-dark);
  --button-primary-active-border: var(--theme-primary-dark);
  --button-primary-active-color: rgba(255, 255, 255, 0.4);
  --button-primary-ghost-border: var(--theme-primary);
  --button-primary-ghost-color: var(--theme-primary);
  --button-primary-ghost-active-border: var(--theme-primary-dark);
  --button-primary-ghost-active-color: var(--theme-primary-dark);

  --button-danger-background: var(--theme-danger);
  --button-danger-border: var(--theme-danger);
  --button-danger-color: var(--color-text-inverse);
  --button-danger-hover-background: var(--theme-danger-light);
  --button-danger-hover-border: var(--theme-danger-light);
  --button-danger-hover-color: var(--color-white);
  --button-danger-active-background: var(--theme-danger-dark);
  --button-danger-active-border: var(--theme-danger-dark);
  --button-danger-active-color: rgba(255, 255, 255, 0.4);
  --button-danger-ghost-border: var(--theme-danger);
  --button-danger-ghost-color: var(--theme-danger);
  --button-danger-ghost-active-border: var(--theme-danger-dark);
  --button-danger-ghost-active-color: var(--theme-danger-dark);

  // Radio
  --button-radio-btn-disabled-color: --color-text-caption;
  --button-radio-btn-disabled-bg: rgba(250, 250, 250, 1);

  // Menu
  --menu-color: #343434;
  --menu-default-bg-color: var(--color-white);
  --menu-dark-bg-color: #001529;
  --menu-collapsed-width: 80px;
  --submenu-dark-bg-color: #000c17;
  --menuitem-dark-color: hsla(0, 0%, 100%, .65);
  --menuitem-dark-active-color: var(--color-white);
  --menuitem-default-color: #343434;
  --menuitem-active-color: var(--theme-primary);
  --menuitem-active-bg-color: rgba(0, 188, 112, .0625);
  --menuitem-disabled-color: rgba(0, 0, 0, 0.25);
  --menuitem-divider-bg-color: #e5e5e5;
  --menuitem-horizontal-padding: 20px;
  --menuitem-horizontal-height: 56px;
}
