
@include b(alert) {
  position: relative;
  padding: var(--padding-h-lg);
  color: var(--color-text);
  line-height: $base-line-height;
  border-radius: $base-radius;
  margin-bottom: var(--alert-margin-h-lg);
  transition: all .3s ease;
  overflow: hidden;

  @include b(icon) {
    position: absolute;
    // z-index: $base-zindex-message;
  }

  @include m(sm) {
    padding-left: var(--alert-icon-padding-h-md);
    @include b(icon) {
      top: var(--alert-abs-h-md);
      left: var(--alert-abs-v-md);
      font-size: var(--alert-title-font-size-xs);
    }
  }

  @include m(lg) {
    padding-left: var(--alert-icon-padding-h-lg);
    @include b(icon) {
      top: var(--alert-abs-h-lg);
      left: var(--alert-abs-v-lg);
      font-size: var(--alert-title-font-size-lg);
    }
  }

  @include m(closable) {
    padding-right: var(--alert-padding-md);
  }

  @include b(alert-message) {
    display: block;
    margin-bottom: var(--padding-v-xs);
    font-size: $base-fontSize;
    color: var(--color-text);
    font-weight: 400;
    line-height: $base-line-height;
  }

  @include b(lert-description) {
    display: block;
    font-size: $base-fontSize-sm;
    font-weight: 400;
    color: var(--alert-message-color);
    line-height: var(--alert-description-line-height);
  }

  @include m(nodescription) {
    padding-top: var(--padding-v-sm);
    padding-bottom: var(--padding-v-sm);

    @include b(alert-message) {
      color: var(--alert-message-color);
      margin-bottom: 0;
    }
  }

  @include b(alert-close-btn) {
    position: absolute;
    // z-index: $base-zindex-message;
    right: var(--alert-abs-h-lg);
    top: var(--alert-abs-h-md);
    font-size: $base-fontSize-sm;
    color: var(--color-text);
    cursor: pointer;
    transition: color .2s ease;

    &:hover,
    &:focus {
      color: var(--color-text-caption);
    }
  }

  @include b(alert-custom-close-btn) {
    padding: 0;
    position: absolute;
    top: var(--alert-abs-v-xs);
    right: var(--alert-abs-h-lg);
    overflow: hidden;
    font-size: var(--font-size-sm);
    color: var(--alert-message-color);
    line-height: var(--alert-description-line-height);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color .2s ease;

    &:hover,
    &:focus {
      color: var(--color-text);
    }
  }

  @include m(success) {
    background: rgba($base-theme-success, 0.2);

    @include b(icon) {
      color: $base-theme-success;
    }
  }

  @include m(info) {
    background: rgba($base-theme-info, 0.2);
  
    @include b(icon) {
      color: $base-theme-info;
    }
  }
  
  @include m(warning) {
    background: rgba($base-theme-warning, 0.2);
  
    @include b(icon) {
      color: $base-theme-warning;
    }
  }
  
  @include m(error) {
    background: rgba($base-theme-error, 0.2);
  
    @include b(icon) {
      color: $base-theme-error;
    }
  }
}
