.ui-tooltip{
  .ui-popover-content {
    background-color: #000;
    color: #fff;
    border-color: #000;
    border-radius: 4px;
  }
  .ui-popover-arrow {
    background-color: #000;
    border-color: #000;
  }
}
