{ 
  "env": {
    "development": {
      "presets" : ["env", "stage-0", "react"],
      "plugins" : ["react-hot-loader/babel", "transform-runtime"]
    },
    "production": {
      "plugins" : ["transform-runtime"],
      "presets" : [["env", { "modules": false }], "stage-0", "react"]
    }
  }
}