{ 
  "presets" : [["env", { "modules": false }], "stage-0", "react"],
  "env": {
    "development": {
      "plugins" : ["react-hot-loader/babel", "transform-runtime"]
    },
    "production": {
      "plugins" : ["transform-runtime"]
    }
  }
}