{
  "parser": "babel-eslint",
  "extends": ["eslint-config-za"],
  "rules": {
    "no-shadow": 0,
    "no-plusplus": 0,
    "no-script-url": 0,
    "no-mixed-operators": 0,
    "react/no-unused-prop-types": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/interactive-supports-focus": 0,
    "jsx-a11y/role-has-required-aria-props": 0
  }
}