.ui-pagination {
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }

  &.bordered {
    .ui-pagination-item {
      border: 1px solid #d9d9d9;
      margin-right: 8px;

      &:hover {
        border-color: #2db7f5;
      }

      &.ui-pagination-item-jump-prev,
      &.ui-pagination-item-jump-next {
        border-width: 0;
      }

      &.ui-pagination-item-active {
        border-color: #2db7f5;
      }

      &.ui-pagination-item-disabled {
        &:hover {
          border-color: #d9d9d9;
        }
      }
    }
  }

  &.radius {
    .ui-pagination-item {
      border-radius: $base-radius;
    }
  }

  &-total {
    float: left;
    line-height: 28px;
    padding-right: 4px;
    color: #999;
  }

  &-pagers {
    float: right;

    & > ul {
      float: left;
      margin: 0;
      padding: 0;
    }
  }

  &-size,
  &-jumper {
    float: left;
    margin-left: 6px;
    line-height: 28px;

    .ui-selectm,
    .ui-dropdown-trigger-box {
      vertical-align: inherit;
    }
  }
}

.ui-pagination-item {
  float: left;
  // display: inline-block;
  border: 1px solid transparent;
  min-width: 28px;
  padding: 0 6px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  list-style: none;
  background-color: #fff;
  margin-right: 4px;
  font-family: Arial;
  user-select: none;
  cursor: pointer;

  &.ui-pagination-item-prev,
  &.ui-pagination-item-next {
    color: #ccc;
  }

  &.ui-pagination-item-jump-prev,
  &.ui-pagination-item-jump-next {
    &:after {
      content: "\2022\2022\2022";
      display: block;
      letter-spacing: 2px;
      color: #ccc;
      text-align: center;
    }
  }

  &:hover {
    color: #2db7f5;

    &.ui-pagination-jump-prev,
    &.ui-pagination-jump-next {
      &:after {
        color: #2db7f5;
      }
    }
  }

  &.ui-pagination-item-disabled {
    cursor: not-allowed;
    opacity: 0.7;

    &:hover {
      color: #ccc;
    }
  }

  &.ui-pagination-item-active {
    background-color: #2db7f5;
    color: #fff;
  }
}

.ui-pagination-addon-before {
  float: left;
  margin-right: 15px;
  line-height: 28px;
}

.ui-pagination-addon-after {
  float: left;
  margin-left: 15px;
  line-height: 28px;
}
