$height-md: $--pagination-height-md;
$height-sm: $--pagination-height-sm;
$line-height-md: $--pagination-height-md - 2;
$line-height-sm: $--pagination-height-sm - 2;
$base-radius: 4px !default;

@mixin addon($line-height) {
  float: left;
  margin-right: 15px;
  line-height: $line-height;
}

@mixin jumper() {
  float: left;
  margin-left: 12px;

  .za-selectm,
  .za-dropdown-trigger-box {
    vertical-align: inherit;
  }
}

@mixin input-box($height) {
  .ui-input-box {
    display: inline-block;
    vertical-align: middle;
    height: $height;
    line-height: $height - 5;
    margin: 0 8px;
  }

  .ui-input {
    height: $height - 2;
  }
}

@mixin total($line-height) {
  float: left;
  padding-right: 4px;
  color: #999;
  line-height: $line-height;
}

@mixin jump() {
  &:after {
    content: '\2022\2022\2022';
    display: block;
    letter-spacing: 2px;
    color: #ccc;
    text-align: center;
  }
}

@mixin pagination-public($height, $line-height) {
  @include e(item) {
    min-width: $height;
    height: $height;
    line-height: $line-height;
    float: left;
    border: 1px solid transparent;
    padding: 0 6px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    margin-right: 4px;
    font-family: Arial;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: $--color-info;

      &.za-pagination__item--jump-prev,
      &.za-pagination__item--jump-next {
        &:after {
          color: $--color-info;
        }
      }
    }

    &.za-pagination__item--disabled {
      cursor: not-allowed;
      opacity: 0.7;

      &:hover {
        color: #ccc;
      }
    }

    &.za-pagination__item--active {
      background-color: $--color-info;
      color: #fff;
    }
  }

  @include e(addon-before) {
    @include addon($height);
  }

  @include e(addon-after) {
    @include addon($height);
  }

  @include e(select) {
    .za-tag-input-box {
      min-height: $height;
      line-height: $line-height;
    }
  }

  @include e(jumper) {
    @include input-box($height);
  }

  @include e(item) {
    &--jump-prev,
    &--jump-next {
      @include jump();
    }
  }
}

@include b(pagination) {
  // 清除浮动
  &:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }

  &.is-radius {
    .za-pagination__item {
      border-radius: $base-radius;
    }
  }

  &.is-bordered {
    .za-pagination__item {
      border: 1px solid #d9d9d9;
      margin-right: 8px;

      &:hover {
        border-color: $--color-info;
      }

      &.za-pagination__item--jump-prev,
      &.za-pagination__item--jump-next {
        border-width: 0;
      }

      &.za-pagination__item--active {
        border-color: $--color-info;
      }

      &.za-pagination__item--disabled {
        &:hover {
          border-color: #d9d9d9;
        }
      }
    }
  }

  // size
  @include m(md) {
    font-size: 16px;
    @include pagination-public($height-md, $line-height-md);

    @include e(total) {
      @include total($line-height-md);
    }
  }

  @include m(sm) {
    font-size: 14px;
    @include pagination-public($height-sm, $line-height-sm);

    @include e(total) {
      @include total($line-height-sm);
    }
  }

  @include e(pagers) {
    float: right;
    // stylelint-disable
    & > ul {
      float: left;
      margin: 0;
      padding: 0;
    }
  }

  @include e(select) {
    @include jumper();
  }

  @include e(jumper) {
    @include jumper();
  }

  @include m(simple) {
    &:hover {
      .za-pagination__item {
        color: #383838;
      }
    }

    @include e(item) {
      float: left;
      min-width: 24px;
      height: 24px;
      line-height: 22px;
      border: 0;
      @include input-box(24px);

      span {
        margin: 0 10px 0 5px;
        vertical-align: middle;
      }

      .za-icon {
        vertical-align: middle;
      }
    }
  }
}
