@import '../../style/core/index';

.zw-pagination {
  margin: 0;
  padding: 0;

  &:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }

  &-item {
    display: inline-block;
    border: 1px solid transparent;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0 6px;
    text-align: center;
    list-style: none;
    background-color: #fafafa;
    margin-right: 8px;
    font-family: Arial;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle;

    &-jump-prev,
    &-jump-next {
      background: transparent;

      &:after {
        content: '\2022\2022\2022';
        display: block;
        letter-spacing: 2px;
        color: #ccc;
        text-align: center;
      }
    }

    &:hover {
      color: rgba(var(--tag-color-green));
    }

    &-active {
      background-color: rgba(var(--tag-color-green));
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
  }

  &-disabled {
    cursor: not-allowed;
    color: #bcbcbc;

    &:hover,
    &:focus {
      cursor: not-allowed;
      color: #bcbcbc;
    }
  }

  &-total {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-right: 8px;
    color: #999;
    font-size: 14px;
  }

  &-options {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;

    &-size-changer {
      font-size: 14px;
    }

    &-quick-jumper {
      display: inline-block;
      height: 32px;
      line-height: 32px;
      vertical-align: top;

      > input {
        position: relative;
        display: inline-block;
        height: 32px;
        font-size: 14px;
        margin: 0 8px;
        border-radius: 4px;
        width: 48px;
        text-align: center;
        background-color: #fafafa;
        border-width: 1px;
        border-style: solid;
        border-color: #fafafa;
        transition: all 0.3s ease 0s;
      }
    }
  }

  &-slash {
    margin: 0 10px 0 5px;
  }
}

.zw-pagination-addon-before {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  padding-right: 8px;
}

.zw-pagination-addon-after {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  padding-right: 8px;
}

.zw-pagination.zw-pagination-small {
  .zw-pagination-item {
    background-color: transparent;
    min-width: 24px;
    height: 24px;
    line-height: 22px;
    margin: 0;
  }

  .zw-pagination-item-active {
    background-color: rgba(var(--tag-color-green));
  }

  .zw-pagination-options-quick-jumper {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
  }

  .zw-pagination-options-quick-jumper > input {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    vertical-align: top;
    width: 40;
  }

  .zw-pagination-total {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
  }
}

.zw-pagination-simple {
  .zw-pagination-item {
    background-color: transparent;
    min-width: 24px;
    height: 24px;
    line-height: 22px;
    margin: 0;
  }

  &-pager {
    display: inline-block;
    height: 24px;
    margin-right: 8px;

    > input {
      box-sizing: border-box;
      height: 100%;
      margin-right: 8px;
      padding: 0 6px;
      border-radius: 4px;
      outline: none;
      transition: border-color 0.3s;
      text-align: center;
      background-color: #fafafa;
      border-width: 1px;
      border-style: solid;
      border-color: #fafafa;
    }
  }
}
