@mixin arrow() {
  @include b(popper__arrow) {
    @content;
  }
}

@include b(popper) {
  display: inline-block;

  @include e(content-wrapper) {
    font-size: 14px;
    box-shadow: $--box-shadow-dark;
    background-color: $--color-white;
    border-radius: $--border-radius-base;
    background-clip: padding-box;
    z-index: 1200;
    //animation: notification-in 3s;
  }

  @include e(title) {
    min-width: 177px;
    min-height: 32px;
    margin: 0;
    padding: 5px 16px 4px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    border-bottom: 1px solid #e8e8e8;
  }

  @include e(content) {
    padding: 12px 16px;
    color: rgba(0, 0, 0, 0.65);
  }

  @include e(arrow) {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
  }

  &__placement__right,
  &__placement__rightTop,
  &__placement__rightBottom {
    margin-left: 20px;

    @include arrow () {
      left: -4px;
      border-width: 4px 4px 4px 0;
      border-right-color: #fff;
    }
  }

  &__placement__top,
  &__placement__topLeft,
  &__placement__topRight {
    margin-bottom: 20px;

    @include arrow () {
      bottom: -4px;
      border-width: 4px 4px 0;
      border-top-color: #fff;
    }
  }

  &__placement__bottom,
  &__placement__bottomLeft,
  &__placement__bottomRight {
    margin-top: 20px;

    @include arrow () {
      top: -4px;
      border-width: 0 4px 4px;
      border-bottom-color: #fff;
    }
  }

  &__placement__left,
  &__placement__leftTop,
  &__placement__leftBottom {
    margin-right: 20px;

    @include arrow () {
      right: -4px;
      border-width: 4px 0 4px 4px;
      border-left-color: #fff;
    }
  }
}

@keyframes notification-in {
  from {
    opacity: 0;
    transform: translateX(100%);
    right: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes notification-out {
  from {
    opacity: 1;
    margin-bottom: $notification-margin-bottom;
    padding-top: $notification-padding;
    padding-bottom: $notification-padding;
    max-height: 150px;
  }

  to {
    opacity: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
  }
}

.popper {
  animation-duration: 3000ms;

  &.popper-in {
    animation-name: zoom-enter;
  }

  &.popper-out {
    animation-name: zoom-leave;
  }
}

@keyframes zoom-enter {
  from {
    transform: scale3d(.3, .3, .3);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zoom-leave {
  from {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(.3, .3, .3);
  }
}
