@import '../../style/core/index';

$zarmPrefixCls: za-popup;

@include b(modal) {
  @include e(content) {
    background-color: #fff;
    min-width: 380px;
    overflow: hidden;
    box-shadow: 0 3px 10px 7px rgba(0, 0, 0, 0.15);
  }

  @include m(radius) {
    @include e(content) {
      border-radius: 6px;
    }
  }

  .#{$zarmPrefixCls}--center {
    max-width: 95%;
  }

  @include e(popup) {
    @include m(top) {
      align-items: baseline;

      .#{$zarmPrefixCls}--center {
        margin: unset;
      }
    }
  }

  // 仅适用于 Alert和Confirm
  @include e(alert-icon) {
    margin-right: 16px;
  }

  @include e(alert-body) {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 60px);

    @include e(alert-title) {
      font-size: 16px;
      font-weight: bold;
      vertical-align: 0.2em;
      padding-bottom: 10px;
    }
  }

  @include m(scroll) {
    height: 100%;

    .#{$zarmPrefixCls}--center {
      height: 100%;
      max-height: 80%;
    }

    @include e(content) {
      max-height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    @include e(body) {
      flex-grow: 1;
      height: auto;
      overflow: auto;
    }
  }

  @include e(header) {
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    position: relative;
    background-color: #fafafa;

    @include e(title) {
      color: #343434;
      font-size: 16px;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 30px;
    }

    @include e(close) {
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 20px;
      line-height: 48px;
      color: #909090;
      cursor: pointer;

      &:hover {
        color: #666;
      }
    }
  }

  @include e(hidden-elem) {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  @include e(body) {
    padding: 16px 24px;
  }

  @include e(footer) {
    padding: 10px 18px;
  }

  @include e(button-warpper) {
    text-align: right;

    button {
      margin-left: 10px;
    }
  }
}
