.zw-modal {
  background-color: #fff;
  min-width: 380px;
  min-height: 160px;
  border-radius: 6px;

  .zw-modal-header {
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    position: relative;

    .zw-modal-title {
      color: #343434;
      font-size: 16px;
      font-weight: bold;
    }

    .zw-modal-close {
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 20px;
      line-height: 48px;
      color: #909090;
      cursor: pointer;

      &:hover {
        color: #666;
      }
    }
  }

  .zw-modal-body {
    padding: 16px 24px;
  }

  .zw-modal-footer {
    padding: 10px 18px;
  }

  &-button__warpper {
    text-align: right;

    button {
      margin-left: 10px;
    }
  }
}

.ui-modal-body-overflow {
  overflow-y: hidden;
}
