.markdown {
  line-height: 2;
  font-size: 14px;
  color: #1f2d3d;

  a {
    transition: color 0.3s ease;
    color: #00bc70;

    &:hover {
      color: #00d17d;
    }
  }

  .hljs {
    background-color: transparent;
  }

  .grid-container {
    overflow-x: auto;
    margin: 20px 0;
  }

  // ul {
  //   margin-left: 0;
  //   padding-left: 0;

  //   > li {
  //     margin-left: 20px;
  //     padding-left: 4px;
  //     list-style-type: circle;
  //   }
  // }

  pre {
    margin: 0;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5;
    background-color: #f6f8fa;
    border-radius: 3px;

    code {
      padding: 1em;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  h1 {
    font-size: 28px;
  }

  > h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 1.6em 0 0.6em;
  }

  > h3 {
    font-size: 18px;
    margin: 1.6em 0 0.6em;
  }

  blockquote {
    margin: 0;
    padding: 0 20px;
    color: #6a737d;
    border-left: 4px solid #dfe2e5;
  }

  code {
    background-color: #f1f1f1;
    padding: 2px 5px;
    border-radius: 3px;
  }

  table.grid {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    width: 100%;
    min-width: 600px;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;

    strong {
      font-weight: normal;
    }

    th {
      text-align: left;
      border-top: 1px solid #eaeefb;
      background-color: #f9fafc;
      white-space: nowrap;
      font-weight: normal;
      color: #999;
    }

    td,
    th {
      border-bottom: 1px solid #eaeefb;
      padding: 10px;
      max-width: 250px;
    }

    th:first-child,
    td:first-child {
      padding-left: 15px;
    }
  }
}

.markdown-demo-wrapper {
  margin-top: 40px;
  // stylelint-disable-next-line
  column-width: 50%;
  // stylelint-disable-next-line
  column-count: 2;
  column-fill: auto;

  @media (max-width: 1366px) {
    // stylelint-disable-next-line
    column-width: 100%;
    // stylelint-disable-next-line
    column-count: 1;
  }
}

.markdown-demo-item {
  break-inside: avoid;
  margin-bottom: 22px;
}

.demo-block {
  border: 1px solid #eaeefb;
  border-radius: 4px;
  transition: all .2s;

  &:hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
  }

  > p,
  > h2 {
    padding: 0 20px;
  }

  .source {
    position: relative;
    padding: 12px 24px 24px;
    overflow-x: auto;
    // border-top: 1px solid #eaeefb;

    .rows {
      margin-bottom: 12px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &-dark {
        background: #bec8c8;
        padding: 12px;
      }
    }
  }

  .demo-block-control {
    border-top: 1px solid #eaeefb;
    height: 36px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    color: #d3dce6;
    cursor: pointer;
    transition: .2s;
    position: relative;

    i {
      font-size: 12px;
      line-height: 36px;
      margin-right: 5px;
    }

    span {
      display: inline-block;
      font-size: 14px;
      line-height: 36px;
    }

    &:hover {
      color: #00bc70;
      background-color: #e5f8f0;
    }
  }
}
