.markdown {
  color: #1f2d3d;

  .hljs {
    background-color: transparent;
  }

  .grid-container {
    overflow-x: auto;
  }

  pre {
    margin: 0;
    padding: 16px;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5;
    background-color: #f6f8fa;
    border-radius: 3px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  h4,
  p {
    font-size: 14px;
  }

  blockquote {
    margin: 0;
    padding: 0 20px;
    color: #6a737d;
    border-left: 4px solid #dfe2e5;
  }

  code {
    background-color: #f1f1f1;
    padding: 2px 6px;
    margin: 0 1px;
    border-radius: 3px;
  }

  table.grid {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    width: 100%;
    min-width: 600px;
    font-size: 14px;
    margin-bottom: 45px;

    strong {
      font-weight: normal;
    }

    th {
      text-align: left;
      border-top: 1px solid #eaeefb;
      background-color: #f9fafc;
      white-space: nowrap;
      font-weight: normal;
      color: #999;
    }

    td,
    th {
      border-bottom: 1px solid #eaeefb;
      padding: 10px;
      max-width: 250px;
    }

    th:first-child,
    td:first-child {
      padding-left: 15px;
    }
  }
}

.markdown-demo-wrapper {
  margin-top: 40px;
  column-count: 2;
  column-width: 50%;
  column-fill: auto;

  @media (max-width: 1366px) {
    column-count: 1;
    column-width: 100%;
  }
}

.markdown-demo-item {
  break-inside: avoid;
  margin-bottom: 22px;
}

.demo-block {
  border: 1px solid #eaeefb;
  border-radius: 4px;
  transition: all .2s;

  &:hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
  }

  > p,
  > h2 {
    padding: 0 20px;
  }

  .source {
    position: relative;
    padding: 40px 24px;
    // border-top: 1px solid #eaeefb;

    .multi-rows {
      overflow: hidden;
      margin-bottom: 24px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .demo-block-control {
    border-top: 1px solid #eaeefb;
    height: 36px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    color: #d3dce6;
    cursor: pointer;
    transition: .2s;
    position: relative;

    i {
      font-size: 12px;
      line-height: 36px;
      margin-right: 5px;
    }

    span {
      display: inline-block;
      font-size: 14px;
      line-height: 36px;
    }

    &:hover {
      color: #00bc70;
      background-color: #e5f8f0;
    }
  }
}
