.dropdown-trigger-box {
  & > div {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.dropdown-ul-list {
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  margin: 0;

  li {
    padding: 10px;
    min-width: 150px;
  }
}

.modal-inner-btn {
  & > div {
    display: inline-block;
  }
}
