@import "../themes/default.scss";

.grid-page {
  .marginB-20 {
    margin-bottom: 20px;
  }

  .marginTB-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .row-bg {
    background-color: rgba(128, 128, 128, 0.08);
  }

  .zarm-row {
    .zarm-col {
      > div {
        background: $theme-primary;
        color: #fff;
        text-align: center;
        height: 50px;
        line-height: 50px;
      }

      &:nth-child(2n + 1) {
        > div {
          background: $theme-primary-dark;
        }
      }

      .col-height-8 {
        height: 80px;
      }

      .col-height-10 {
        height: 100px;
      }
    }
  }

  .zarm-row.row-stretch {
    height: 100px;

    > div {
      height: 100%;
    }
  }
}
