@import "@site/styles/index";

.icon-page {
  .za-icon {
    display: block;
    margin-bottom: 15px;

    & + span {
      font-size: 12px;
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;

    &-column {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      width: 33.3333333%;
      height: 125px;
    }
  }
}
