@import "@site/styles/index";

.input-page {
  .input-search-wrapper {
    .zw-input__prepend,
    .zw-input__append {
      padding: 0;
      border: 0;

      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .rows {
    & + .rows {
      margin-bottom: 30px;
    }

    .zw-input {
      margin-bottom: 16px;
    }
  }
}
