@import "@site/styles/index";

.input-page {
  .input-search-wrapper {
    & + .zw-input-group__addon {
      padding: 0;
      border: 0;

      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
