.progress-page {
  .source {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .zw-progress + .zw-progress {
    margin-top: 20px;
  }
}
