.ui-confirm {
  padding: 16px 16px 16px 75px;
  position: relative;
  color: #666;
  line-height: 1.5;

  .ui-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -30px;
    font-size: 40px;
    color: $base-theme-info;
  }

  span {
    font-size: 16px;
    color: #666;
  }
}
