@import '../../style/index';

@mixin menu-size($height, $padding, $font-size, $border-radius) {  
  .ui-menu-item {
    height: $height;
    line-height: $height;
    padding: 0 $padding;
    font-size: $font-size;

    // &:first-child {
    //   border-top-left-radius: $border-radius;
    //   border-top-right-radius: $border-radius;
    // }

    // &:last-child {
    //   border-bottom-left-radius: $border-radius;
    //   border-bottom-right-radius: $border-radius;
    // }
  }
}

.ui-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 250px;
  outline: none;
  overflow: auto;
  @include menu-size($base-height-xl, 0, $base-fontSize, $base-radius);

  .ui-menu-item {
    position: relative;
    display: block;
    font-weight: normal;
    color: #666;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background .3s ease;
    user-select: none;
    transition: color .3s cubic-bezier(.645,.045,.355,1),border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);
    
    &:hover{
      color: #1890ff;
    }

    &.selected,
    &.active {
      color: #1890ff;
      background: #e6f7ff;
    }

    &.disabled {
      color: #ccc;
      cursor: not-allowed;
    }
  }

  &-horizontal {
    .ui-menu-item {
      float: left;
      padding: 0 20px;
      height: 54px;
      line-height: 54px;
      border-bottom: 2px solid transparent;

      &.active,
      &:hover {
        border-bottom: 2px solid #1890ff;
        background: #fff;
        color: #1890ff;
      }
    }

    &::after {
      content: '';
      display: block;
      height: 0;
      clear: both;
    }
  }

  &-dark {
    background: #001529;
    .ui-menu-item {
      color: hsla(0,0%,100%,.65);
      &:hover {
        color: #fff;
        background: inherit;
      }
      &.selected,
      &.active {
        color: #fff;
        background: #1890ff;
      }
    }
    .ui-menu-submenu {
      color: hsla(0,0%,100%,.65);
      &-title {
        &:hover{
          color: #fff;
        }
      }
    }
  }

  &-submenu {
    height: auto;
    &-title {
      height: $base-height-xl;
      line-height: $base-height-xl;
      cursor: pointer;

      &:hover{
        color: #1890ff;
      }
    }
    &-sub {
      height: 0;
      overflow: hidden;
    }
    &-open {
      > .ui-menu-submenu-sub {
        height: auto;
      }
    }
  }

  &.size-xl {
    @include menu-size($base-height-xl, $base-padding-xl, $base-fontSize-xl, $base-radius-xl);
  }
  &.size-lg {
    @include menu-size($base-height-lg, $base-padding-lg, $base-fontSize-lg, $base-radius-lg);
  }
  &.size-sm {
    @include menu-size($base-height-sm, $base-padding-sm, $base-fontSize-sm, $base-radius-sm);
  }
  &.size-xs {
    @include menu-size($base-height-xs, $base-padding-xs, $base-fontSize-xs, $base-radius-xs);
  }
}
