@mixin menu-size($height, $font-size) {
  @include e(item) {
    height: $height;
    line-height: $height;
    font-size: $font-size;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: scaleY(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);

@include b(menu) {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--menu-default-bg-color);
  outline: none;
  // border-right: 1px solid #e8e8e8;
  // box-shadow: var(--box-shadow-light);
  transition: background .3s, width .2s;
  zoom: 1;
  font-feature-settings: 'tnum';
  color: var(--menu-color);
  @include menu-size(44px, var(--font-size-md));

  @include m(root) {
    box-shadow: none;
  }

  @include e(item) {
    position: relative;
    display: block;
    font-weight: normal;
    color: var(--menuitem-default-color);
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    // transition: all 0.3s $ease-in-out;
    transition: color .3s $ease-in-out, border-color .3s $ease-in-out, background .3s $ease-in-out, padding .15s $ease-in-out;

    @include b(icon) {
      min-width: 14px;
      margin-right: 12px;
      font-size: 16px;
      pointer-events: none;
      transition: font-size .15s cubic-bezier(.215, .61, .355, 1), margin .3s cubic-bezier(.645, .045, .355, 1);

      + span {
        pointer-events: none;
        transition: opacity 0.3s $ease-in-out, width 0.3s $ease-in-out, height 0.3s $ease-in-out;
        opacity: 1;
      }
    }

    > a {
      display: block;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;
      }
    }

    &:hover {
      color: var(--menuitem-active-color);
    }

    @include m(selected) {
      color: var(--menuitem-active-color);
      background: var(--menuitem-active-bg-color);
    }
    @include m(active) {
      color: var(--menuitem-active-color);
      background: var(--menuitem-active-bg-color);
    }
    @include m(disabled) {
      color: var(--menuitem-disabled-color);
      cursor: not-allowed;

      &:hover {
        color: var(--menuitem-disabled-color);
      }
    }
    @include m(level1) {
      height: 52px;
      line-height: 52px;
    }
  }

  @include e(divider) {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    padding: 0;
    line-height: 0;
    background-color: var(--menuitem-divider-bg-color);
  }

  @include e(submenu) {
    min-width: 160px;
    height: auto;

    // &:not(.zw-menu--level1) {
    //   min-width: 160px;
    // }

    @include e(title) {
      height: 44px;
      line-height: 44px;
      user-select: none;
      cursor: pointer;
      font-weight: normal;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: all 0.3s;

      &:hover {
        color: var(--menuitem-active-color);
      }

      @include b(icon) {
        min-width: 14px;
        margin-right: 12px;
        font-size: 16px;
        transition: font-size .15s cubic-bezier(.215, .61, .355, 1), margin .3s cubic-bezier(.645, .045, .355, 1);

        + span {
          transition: opacity 0.3s $ease-in-out, width 0.3s $ease-in-out;
          opacity: 1;
        }
      }
    }

    @include e(sub) {
      height: 0;
      padding: 0;
      overflow: hidden;
      transition: all .2s $ease-in-out;
    }

    @include m(level1) {
      min-width: auto;
      @include e(title) {
        height: 52px;
        line-height: 52px;
      }
    }
  }

  @include e(itemgroup__title) {
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    color: #909090;
    user-select: none;
  }
  @include e(itemgroup__list) {
    padding: 0;
  }

  @include m(xl) {
    @include menu-size(44px, var(--font-size-xl));
  }

  @include m(lg) {
    @include menu-size(36px, var(--font-size-lg));
  }

  @include m(sm) {
    @include menu-size(28px, var(--font-size-sm));
  }

  @include m(xs) {
    @include menu-size(24px, var(--font-size-sm));
  }

  // collapsed 样式
  @include m(collapsed) {

    @include e(submenu--level1) {
      // TODO
      > .zw-menu__title {
        left: 0;
        text-overflow: clip;
        padding: 0 (var(--menu-collapsed-width) - 16) / 2;

        @include e(arrow) {
          display: none;
        }
      }
      @include e(sub) {
        min-width: 160px;
        height: auto !important;
        opacity: 0;
        transform-origin: 0 0;

        &.slide-up {
          animation: slide-up 0.3s both;
        }

        &.slide-down {
          animation: slide-down 0.3s both;
        }
      }
      @include b(icon) {
        display: block;
        font-size: 16px;
        line-height: 52px;
        margin-right: 0;

        + span {
          max-width: 0;
          display: inline-block;
          opacity: 0;
        }
      }
    }

    @include e(item--level1) {
      left: 0;
      text-overflow: clip;
      padding: 0 (var(--menu-collapsed-width) - 16) / 2;

      @include b(tooltip) {
        display: block;

        @include e(inner) {
          height: 52px;
        }
      }
      @include b(icon) {
        display: block;
        font-size: 16px;
        line-height: 52px;
        margin-right: 0;

        + span {
          max-width: 0;
          height: 0;
          display: inline-block;
          opacity: 0;
        }
      }
    }
  }

  // inline模式
  @include m(inline) {
    width: 100%;

    @include e(submenu) {
      @include e(title) {
        position: relative;
        &:hover {
          @include e(arrow) {
            &:after,
            &:before {
              background: linear-gradient(to right, var(--menuitem-active-color), var(--menuitem-active-color));
            }
          }
        }

        @include e(arrow) {
          transition: transform .3s $ease-in-out;
          position: absolute;
          top: 50%;
          right: 20px;
          width: 10px;

          &:before,
          &:after {
            content: '';
            position: absolute;
            vertical-align: baseline;
            background: var(--menuitem-dark-active-color);
            background-image: linear-gradient(to right, #909090, #909090);
            width: 6px;
            height: 2px;
            border-radius: 2px;
            transition: background .3s $ease-in-out, transform .3s $ease-in-out, top .3s $ease-in-out;
          }

          &:before {
            transform: rotate(-40deg) translateX(2px);
          }

          &:after {
            transform: rotate(40deg) translateX(-2px);
          }
        }
      }
    }

    @include e(submenu--open) {
      // TODO
      > .zw-menu__title {
        @include e(arrow) {
          transform: translateY(-2px);

          &:before {
            transform: rotate(40deg) translateX(2px);
          }

          &:after {
            transform: rotate(-40deg) translateX(-2px);
          }
        }
      }
    }

    @include m(collapsed) {
      width: var(--menu-collapsed-width);

      @include m(light) {
        @include e(submenu) {
          @include e(sub) {
            background: #fff;
          }
        }
      }

      @include e(submenu) {
        position: relative;

        @include e(arrow) {
          right: 0;
          transform: translateY(0);
          &:before {
            transform: rotate(-40deg) translateY(2px);
          }

          &:after {
            transform: rotate(40deg) translateY(-2px);
          }
        }

        @include e(sub) {
          position: absolute;
          top: 0;
          left: calc(100% + 4px);
          height: auto;
          overflow: visible;
          z-index: 2;
          background-color: var(--menu-dark-bg-color);
          border-radius: 2px;

          @include e(item) {
            padding: 0 20px !important;
          }
          @include e(submenu) {
            padding: 0 20px !important;
          }
        }
      }
    }
  }

  // horizontal模式
  @include m(horizontal) {
    @include e(item) {
      float: left;
      padding: 0 var(--menuitem-horizontal-padding);
      height: var(--menuitem-horizontal-height);
      line-height: var(--menuitem-horizontal-height) - 2;
      border-bottom: 2px solid transparent;

      > a {
        color: var(--menuitem-default-color);
      }
      &:hover {
        border-bottom: 2px solid var(--menuitem-active-color);
        background: var(--menu-default-bg-color);
        color: var(--menuitem-active-color);

        > a {
          color: var(--menuitem-active-color);
        }
      }
    }

    @include e(item--active) {
      border-bottom: 2px solid var(--menuitem-active-color);
      background: var(--menu-default-bg-color);
      color: var(--menuitem-active-color);

      > a {
        color: var(--menuitem-active-color);
      }
    }

    &::after {
      content: '';
      display: block;
      height: 0;
      clear: both;
    }
  }

  // dark主题
  @include m(dark) {
    background: var(--menu-dark-bg-color);

    @include b(icon) {
      color: #909090;
    }
    @include e(sub) {
      background: var(--submenu-dark-bg-color);
      box-shadow: 0 2px 8px rgba(0, 0, 0, .45) inset;
    }

    @include e(item) {
      color: var(--menuitem-dark-color);

      &:hover {
        color: var(--menuitem-dark-active-color);
        // background: inherit;

        > a {
          color: var(--menuitem-dark-active-color);
        }
        @include b(icon) {
          color: var(--menuitem-dark-active-color);
        }
      }

      > a {
        color: var(--menuitem-dark-color);
      }
    }
    @include e(item--selected) {
      color: var(--menuitem-dark-active-color);
      background: var(--menuitem-active-color);

      > a {
        color: var(--menuitem-dark-active-color);
      }
      @include b(icon) {
        color: var(--menuitem-dark-active-color);
      }
    }
    @include e(item--active) {
      color: var(--menuitem-dark-active-color);
      background: var(--menuitem-active-color);

      > a {
        color: var(--menuitem-dark-active-color);
      }
      @include b(icon) {
        color: var(--menuitem-dark-active-color);
      }
    }
    @include m(inline) {
      @include e(submenu) {
        color: var(--menuitem-dark-color);

        @include e(title) {
          // margin-top: 4px;
          // margin-bottom: 4px;
          transition: all 0.3s;

          &:hover {
            color: var(--menuitem-dark-active-color);

            @include e(arrow) {
              opacity: 1;

              &:after,
              &:before {
                background: var(--menuitem-dark-active-color);
              }
            }
            @include b(icon) {
              color: var(--menuitem-dark-active-color);
            }
          }
        }

        @include e(arrow) {
          opacity: .45;
          transition: all .3s;

          &:after,
          &:before {
            background: var(--menuitem-dark-active-color);
          }
        }
      }
      // @include e(item) {
      //   margin-top: 4px;
      //   margin-bottom: 8px;
      // }
    }
  }
}
