$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);

@keyframes slide-down {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: scaleY(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

@mixin overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin icon-base {
  min-width: var(--menuitem-icon-min-width);
  margin-right: var(--menuitem-icon-margin-right);
  font-size: var(--menuitem-icon-font-size);
  pointer-events: none;

  + span {
    pointer-events: none;
    transition: opacity 0.3s, width 0.3s;
    opacity: 1;
  }
}

@mixin icon-collapsed {
  display: block;
  font-size: var(--menuitem-icon-font-size);
  line-height: var(--menuitem-first-level-height);
  margin-right: 0;

  + span {
    max-width: 0;
    height: 0;
    display: inline-block;
    opacity: 0;
  }
}

@mixin item-base($height, $font-size) {
  height: $height;
  line-height: $height;
  font-size: $font-size;
  user-select: none;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.3s $ease-in-out;
  @include overflow-ellipsis();
}

@mixin item-active {
  color: var(--menuitem-active-color);
  background: var(--menuitem-active-bg-color);
}

@mixin item-collapsed {
  left: 0;
  text-overflow: clip;
  padding: 0 (var(--menu-collapsed-width) - 16) / 2;
}

@mixin item-first-level {
  height: var(--menuitem-first-level-height);
  line-height: var(--menuitem-first-level-height);
}

@mixin arrow-base($bgColor) {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  transition: transform 0.3s $ease-in-out;

  &:before,
  &:after {
    content: '';
    position: absolute;
    vertical-align: baseline;
    background: linear-gradient(to right, $bgColor, $bgColor);
    width: 6px;
    height: 2px;
    border-radius: 2px;
    transition: all 0.3s $ease-in-out;
  }
  &:before {
    transform: rotate(-40deg) translateX(2px);
  }
  &:after {
    transform: rotate(40deg) translateX(-2px);
  }
}

@mixin arrow-vertical {
  &:before {
    transform: rotate(-50deg) translateY(2px);
  }
  &:after {
    transform: rotate(50deg) translateY(-2px);
  }
}

@mixin arrow-active {
  &:after,
  &:before {
    background: linear-gradient(to right, var(--menuitem-active-color), var(--menuitem-active-color));
  }
}

@mixin sub-collapsed($bgColor) {
  position: absolute;
  top: 0;
  left: calc(100% + 4px);
  z-index: 2;
  overflow: visible;
  min-width: var(--submenu-min-width);
  height: auto !important;
  padding: 4px 0;
  opacity: 0;
  background-color: $bgColor;
  border-radius: 2px;
  transform-origin: 0 0;
  // box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: var(--box-shadow-light);

  &.slide-up {
    animation: slide-up 0.3s both;
  }
  &.slide-down {
    animation: slide-down 0.3s both;
  }
}

@include b(menu) {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--menu-default-bg-color);
  list-style: none;
  outline: none;
  transition: background 0.3s, width 0.2s;
  zoom: 1;
  font-feature-settings: 'tnum';
  color: var(--color-text);

  @include e(item) {
    position: relative;
    display: block;
    font-weight: normal;
    color: var(--menuitem-default-color);
    cursor: pointer;
    user-select: none;
    transition: all 0.3s $ease-in-out;
    @include item-base(var(--menuitem-height), var(--font-size-md));

    @include b(icon) {
      @include icon-base();
    }

    > a {
      display: block;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;
      }
    }

    &:hover {
      color: var(--menuitem-active-color);
    }

    @include m(selected) {
      @include item-active();
    }
    @include m(active) {
      @include item-active();
    }
    @include m(disabled) {
      color: var(--menuitem-disabled-color);
      cursor: not-allowed;

      &:hover {
        color: var(--menuitem-disabled-color);
      }
    }
    @include m(level-1) {
      @include item-first-level();
    }
  }

  @include e(submenu) {
    min-width: var(--submenu-min-width);
    height: auto;

    @include e(title) {
      @include item-base(var(--menuitem-height), var(--font-size-md));

      &:hover {
        color: var(--menuitem-active-color);
      }

      @include b(icon) {
        @include icon-base();
      }

      @include e(arrow) {
        @include arrow-base(var(--color-text-caption));
      }
    }

    @include e(sub) {
      height: 0;
      padding: 0;
      overflow: hidden;
      transition: all .2s $ease-in-out;
    }

    @include m(active) {
      > .zw-menu__title {
        color: var(--menuitem-active-color);

        @include e(arrow) {
          @include arrow-base(var(--menuitem-active-color));
        }
        @include b(icon) {
          color: var(--menuitem-active-color);
        }
      }
    }
    @include m(level-1) {
      min-width: auto;

      @include e(title) {
        @include item-first-level();
      }
    }
  }

  @include e(divider) {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    padding: 0;
    line-height: 0;
    background-color: var(--menuitem-divider-bg-color);
  }

  @include e(itemgroup__title) {
    height: var(--menuitem-group-title-height);
    line-height: var(--menuitem-group-title-height);
    font-size: var(--menuitem-group-font-size);
    color: var(--color-text-caption);
    user-select: none;
  }

  @include e(itemgroup__list) {
    padding: 0;
  }

  @include m(root) {
    box-shadow: none;
  }

  // collapsed
  @include m(collapsed) {
    width: var(--menu-collapsed-width);

    @include e(submenu--level-1) {
      > .zw-menu__title {
        @include item-collapsed();

        @include e(arrow) {
          display: none;
        }
      }
      @include b(icon) {
        @include icon-collapsed();
      }
    }

    @include e(item--level-1) {
      @include item-collapsed();

      @include b(tooltip) {
        display: block;

        @include e(inner) {
          overflow: hidden;
          height: var(--menuitem-first-level-height);
        }
      }
      @include b(icon) {
        @include icon-collapsed();
      }
    }
  }

  // inline mode
  @include m(inline) {
    width: 100%;

    @include e(submenu) {
      @include e(title) {
        position: relative;
        &:hover {
          @include e(arrow) {
            @include arrow-active();
          }
        }
      }
    }

    @include e(submenu--open) {
      > .zw-menu__title {
        @include e(arrow) {
          transform: translateY(-2px);

          &:before {
            transform: rotate(40deg) translateX(2px);
          }
          &:after {
            transform: rotate(-40deg) translateX(-2px);
          }
        }
      }
    }

    @include m(collapsed) {
      width: var(--menu-collapsed-width);

      @include m(light) {
        @include e(submenu) {
          @include e(sub) {
            background: var(--submenu-light-bg-color);
          }
        }
      }

      @include e(submenu) {
        position: relative;

        @include e(arrow) {
          transform: translateY(0);
          @include arrow-vertical();
        }

        @include e(sub) {
          @include sub-collapsed(var(--menu-dark-bg-color));
        }
      }
    }
  }

  // horizontal mode
  @include m(horizontal) {
    @include e(item) {
      float: left;
      padding: 0 var(--menuitem-horizontal-padding);
      height: var(--menuitem-height);
      line-height: calc(var(--menuitem-horizontal-height) - 2px);
      border-bottom: 2px solid transparent;

      > a {
        color: var(--menuitem-default-color);
      }
      &:hover {
        border-bottom: 2px solid var(--menuitem-active-color);
        background: var(--menu-default-bg-color);
        color: var(--menuitem-active-color);

        > a {
          color: var(--menuitem-active-color);
        }
      }
    }

    @include e(item--active) {
      border-bottom: 2px solid var(--menuitem-active-color);
      background: var(--menu-default-bg-color);
      color: var(--menuitem-active-color);

      > a {
        color: var(--menuitem-active-color);
      }
    }

    &::after {
      content: '';
      display: block;
      height: 0;
      clear: both;
    }
  }

  // vertical mode
  @include m(vertical) {
    width: 100%;

    @include e(submenu) {
      position: relative;
      @include e(title) {
        position: relative;
        &:hover {
          @include e(arrow) {
            @include arrow-active();
          }
        }

        @include e(arrow) {
          @include arrow-vertical();
        }
      }
      @include e(sub) {
        @include sub-collapsed(var(--submenu-light-bg-color));
      }
    }
  }

  // dark theme
  @include m(dark) {
    background: var(--menu-dark-bg-color);

    @include b(icon) {
      color: var(--color-text-caption);
    }
    @include e(sub) {
      background: var(--submenu-dark-bg-color);;
    }

    @include e(item) {
      color: var(--menuitem-dark-color);

      &:hover {
        color: var(--menuitem-active-color);

        > a {
          color: var(--menuitem-active-color);
        }
        @include b(icon) {
          color: var(--menuitem-active-color);
        }
      }

      > a {
        color: var(--menuitem-dark-color);
      }
    }
    @include e(item--selected) {
      color: var(--menuitem-dark-active-color);
      background: var(--menuitem-active-color);

      > a {
        color: var(--menuitem-dark-active-color);
      }
      @include b(icon) {
        color: var(--menuitem-dark-active-color);
      }

      &:hover {
        color: var(--menuitem-dark-active-color);

        > a {
          color: var(--menuitem-dark-active-color);
        }

        @include b(icon) {
          color: var(--menuitem-dark-active-color);
        }
      }
    }
    @include e(item--active) {
      color: var(--menuitem-dark-active-color);
      background: var(--menuitem-active-color);

      > a {
        color: var(--menuitem-dark-active-color);
      }
      @include b(icon) {
        color: var(--menuitem-dark-active-color);
      }

      &:hover {
        color: var(--menuitem-dark-active-color);

        > a {
          color: var(--menuitem-dark-active-color);
        }

        @include b(icon) {
          color: var(--menuitem-dark-active-color);
        }
      }
    }

    @include e(submenu) {
      color: var(--menuitem-dark-color);

      @include e(title) {
        transition: all 0.3s;

        &:hover {
          color: var(--menuitem-active-color);

          @include e(arrow) {
            opacity: 1;

            &:after,
            &:before {
              background: var(--menuitem-active-color);
            }
          }
          @include b(icon) {
            color: var(--menuitem-active-color);
          }
        }
      }

      @include e(arrow) {
        opacity: .45;
        transition: all .3s;

        &:after,
        &:before {
          background: var(--menuitem-dark-active-color);
        }
      }
    }

    @include e(submenu--active) {
      > .zw-menu__title {
        @include e(arrow) {
          opacity: 1;

          &:after,
          &:before {
            background: var(--menuitem-active-color);
          }
        }
      }
    }

    @include m(collapsed) {
      @include e(submenu--active) {
        > .zw-menu__title {
          color: var(--menuitem-dark-active-color);
          background: var(--menuitem-active-color);

          @include e(arrow) {
            &:after,
            &:before {
              background: var(--menuitem-dark-active-color);
            }
          }
          @include b(icon) {
            color: var(--menuitem-dark-active-color);
          }
        }
      }
    }

    @include m(vertical) {
      @include e(submenu) {
        @include e(sub) {
          background: var(--menu-dark-bg-color);
        }
      }
    }
  }
}
