@include b(menu) {
  // inline mode
  @include m(inline) {
    width: 100%;

    @include b(menu-submenu) {
      @include e(title) {
        position: relative;

        &:hover {
          @include e(arrow) {
            @include arrow-active();
          }
        }
      }
      @include m(open) {
        @include e(title-first) {
          @include e(arrow) {
            transform: translateY(-2px);

            &:before {
              transform: rotate(40deg) translateX(2px);
            }

            &:after {
              transform: rotate(-40deg) translateX(-2px);
            }
          }
        }
      }
    }

    @include m(collapsed) {
      width: var(--menu-collapsed-width);

      @include m(light) {
        @include b(menu-submenu) {
          @include e(sub) {
            background: var(--submenu-light-bg-color);
          }
        }
      }

      @include b(menu-submenu) {
        position: relative;

        @include e(arrow) {
          transform: translateY(0);
          @include arrow-vertical();
        }
        @include m(open) {
          @include e(arrow) {
            transform: translateY(0);
            @include arrow-vertical();
          }
        }

        @include e(sub) {
          @include sub-collapsed(var(--menu-dark-bg-color));
        }
      }
    }
  }
}
