@import '../../style/themes/default';

.ui-search-btn {
  background-color: $base-theme-info;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  font-size: $base-fontSize;
  cursor: pointer;

  &:hover {
    background: $base-theme-info;
  }

  &.shape-radius {
    border-radius: $base-radius;
  }

  &.size-xl {
    font-size: $base-fontSize-xl;

    &.shape-radius {
      border-radius: $base-radius-xl;
    }
  }

  &.size-lg {
    font-size: $base-fontSize-lg;

    &.shape-radius {
      border-radius: $base-radius-lg;
    }
  }

  &.size-sm {
    font-size: $base-fontSize-sm;

    &.shape-radius {
      border-radius: $base-radius-sm;
    }
  }

  &.size-xs {
    font-size: $base-fontSize-xs;

    &.shape-radius {
      border-radius: $base-radius-xs;
    }
  }
}
