
.demo {
  max-width: 1000px;
  border: 1px solid #E9E9E9;
  margin: 0 auto;
  padding: 20px;

  .ui-form {
    .ui-form-item-control {
      > .ui-tooltip > .ui-button,
      > .ui-button,
      > .ui-switch,
      > .ui-select,
      > .ui-input,
      > .ui-tag {
        margin-right: 10px;
      }

      .ui-pagination {
        margin-bottom: 10px;
      } 
    }
    
  }
}