.ui-number-input-wrapper {
  display: flex;
  justify-content: flex-start;

  .ui-number-input-count {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .ui-number-input-count-disable {
    background: #f3f5f7;
    cursor: not-allowed
  }
}