@import '../../style/core/index';
@import 'zarm/es/radio/style/component.scss';

@include b(radio) {
  @include e(inner) {
    &:before {
      content: '';
      width: calc(var(--radio-size) / 2.33);
      height: calc(var(--radio-size) / 2.33);
      border: none;
      border-radius: var(--radius-circle);
      background-color: var(--radio-disabled-color);
      margin: 0;
      transform: scale(0);
    }
  }

  @include m(checked) {
    @include e(inner) {
      background-color: var(--color-text-inverse);

      &:before {
        background-color: var(--theme-primary);
      }
    }
  }

  @include m(disabled) {
    @include m(checked) {
      @include e(inner) {
        &:before {
          background-color: var(--radio-disabled-color);
        }
      }
    }
  }
}

@include b(radio-group) {
  @include m(button) {
    @include b(radio) {
      color: var(--radio-color);

      &:hover {
        color: var(--theme-primary);
      }

      @include m(disabled) {
        opacity: 1;
        background-color: #fafafa;
        color: var(--color-text-disabled);

        @include m(checked) {
          opacity: 1;
          border-color: var(--button-default-border);
          background-color: var(--background-disabled);
          color: var(--color-text-disabled);
        }
      }
    }

    @include m(ghost) {
      @include b(radio) {
        @include m(disabled) {
          @include m(checked) {
            &,
            &:hover {
              opacity: 1;
              border-color: var(--button-default-border);
              background-color: var(--background-disabled);
              color: var(--color-text-disabled);
            }
          }
        }
      }
    }
  }
}
