@import '../../style/themes/variable';

@mixin radio-button-base() {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
  margin: 0;
  color: var(--color-text-caption);
  border: 1px solid var(--button-default-border);
  background: var(--color-white);
  border-left: 0;
  padding: 0 16 - 1px;
  height: var(--button-height-md);
  line-height: var(--button-height-md);
  @include radio-button-shape(var(--radius-md));

  &:first-child {
    border-left: 1px solid var(--button-default-border);
  }

  &:hover {
    position: relative;
    color: var(--theme-primary);
  }

  @include e(input) {
    position: absolute;
    left: 0;
    opacity: 0;
  }

  @include b(radio) {
    @include e(inner) {
      width: 0;
      height: 0;
      opacity: 0;
      border: none;
      pointer-events: none;
    }
  }

  @include m(checked) {
    position: relative;
    color: var(--color-white);
    background: var(--theme-primary);
    border-color: var(--theme-primary);
    box-shadow: -1px 0 0 0 var(--theme-primary);

    &:first-child {
      box-shadow: none;
      border-color: var(--theme-primary);
    }

    &:hover {
      color: var(--color-white);
    }
  }

  @include m(disabled) {
    cursor: not-allowed;
    color: var(--button-radio-btn-disabled-color);
    background: var(--button-radio-btn-disabled-bg);

    &:hover {
      color: var(--button-radio-btn-disabled-color);
    }
  }
}

@mixin radio-button-theme(
  $color,
  $border,
  $background,
  $checked-color,
  $checked-border,
  $checked-background,
  $disabled-color,
  $disabled-border,
  $disabled-background
) {
  color: $color;
  border-color: $border;
  background-color: $background;

  &:first-child {
    border-left-color: $border;
  }

  &:hover {
    color: $checked-background;
  }

  @include m(checked) {
    color: $checked-color;
    background: $checked-border;
    border-color: $checked-background;
    box-shadow: -1px 0 0 0 var(--theme-primary);

    &:first-child {
      border-color: $checked-background;
    }

    &:hover {
      color: $checked-color;
    }
  }

  @include m(disabled) {
    color: $disabled-color;
    background: $disabled-background;
    border-color: $disabled-border;

    &:hover {
      color: $disabled-color;
    }
  }
}

@mixin radio-button-size($height, $padding, $font-size) {
  height: $height;
  line-height: $height;
  font-size: $font-size;
  padding: 0 $padding;
}

@mixin radio-button-shape($border-radius: 0) {
  &:first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }

  &:first-child:last-child {
    border-radius: $border-radius;
  }
}

@mixin radio-button-ghost() {
  @include m(checked) {
    background: transparent;
    color: var(--theme-primary);
  }

  @include m(disabled) {
    background: transparent;
    color: var(--color-text-disabled);
  }

  &:hover {
    background: transparent;
  }
}
