$PI: 3.141592674;

@mixin loading-base() {
  position: relative;
  display: inline-block;
  user-select: none;
  text-align: center;
  vertical-align: middle;

  @include m (nested--loading) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--zindex-loading);
  }

  @include m (fullscreen) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
  }

  @include m(blur) {
    clear: both;
    overflow: hidden;
    opacity: .4;
    user-select: none;
    pointer-events: none;
  }

  @include e (container) {
    position: relative;
    transition: opacity .3s;
  }

  @include e(mask) {
    display: block;
    position: absolute;
    z-index: 100;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--loading-default-mask-color);
  }

 

  @include e(svg) {
    animation: za-rotate360 2s linear infinite;

    circle {
      stroke-linecap: round;
      stroke: #00bc71;
      stroke: var(--theme-primary);
    }
  }

  @include e(path) {
    animation: za-rotate-circular 1.5s ease-in-out infinite;
    stroke-dasharray: 20, 100 * $PI;
    stroke-dashoffset: 0;
    stroke-width: 5;
    stroke-linecap: round;
  }

  @include e(spin) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    opacity: 1;
    visibility: visible;
    user-select: none;
    z-index: $base-zindex-loading + 1;
  }

  @include e(text) {
    font-size: 14px;
    margin: 3px 0;
  }
}

@mixin loading-size($height, $margin, $font-size,) {
  @include e(svg) {
    height: $height;
    width: $height;
  }

  @include e(text) {
    font-size: $font-size;
    margin: calc(#{$margin} / 2);
  }
}

@mixin loading-theme($color, $mask-color, $text-color) {
  @include e(path) {
    stroke: $color;
  }
  @include e(text) {
    color: $text-color;
  }
  @include e(mask) {
    background-color: $mask-color;
  }
}

@keyframes za-rotate-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 120, 200;
    stroke-dashoffset: -60;
  }

  100% {
    stroke-dasharray: 120, 200;
    stroke-dashoffset: -180;
  }
}

@keyframes za-rotate360 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
