@import '../../style/core/index';

@include b(drawer) {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 200ms ease-in-out;

  @include e(container) {
    padding: 32px 80px 100px;
  }

  @include e(title) {
    width: 100%;
    margin-bottom: 32px;
    color: var(--color-text);
    font-size: 22px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include e(body) {
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
  }

  @include e(close) {
    display: block;
    position: absolute;
    border: none;
    color: #909090;
    padding: 0;
    cursor: pointer;

    span {
      display: block;
      width: 49px;
      height: 46px;
      position: absolute;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: #fff;
      box-shadow: -6px 5px 4px 1px #1f1f1f30;
      transform-origin: right center;
      transform: perspective(7px) rotateY(-6deg);
      border: none;
      color: #bcbcbc;
      transition: all 300ms ease-in-out;
      left: -49px;
      top: 0;
      padding: 0;
    }

    i {
      position: absolute;
      top: 16px;
      left: -20px;
    }

    &:hover {
      color: #666;
    }
  }
}
