@import '../../style/index';

@mixin dropdown-size($border-radius) {
  &.radius {
    border-radius: $border-radius;
  }
}

.ui-dropdown {
  @include dropdown-size($base-radius);

  min-width: 100%;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, 0.17);
  text-align: left;

  &.ui-dropdown-hidden {
    display: none;
  }
}
