@import '../../style/themes/variable';

@include b(dropdown) {
  width: auto;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  will-change: transform, opacity;
  background: #fff;

  &[x-placement^=right] {
    margin-left: 4px;
  }

  &[x-placement^=top] {
    margin-bottom: 4px;
  }

  &[x-placement^=bottom] {
    margin-top: 4px;
  }

  &[x-placement^=left] {
    margin-right: 4px;
  }

  @include m(rect) {
    border-radius: 0;
  }

  @include m(radius) {
    border-radius: 4px;
    overflow: hidden;
  }
}
