@mixin input-box-size($height, $font-size) {
  height: $height;
  font-size: $font-size;
}

@mixin input-size($font-size, $padding) {
  line-height: 1.5;
  font-size: $font-size;
  padding: $padding;
}

.ui-input {
  position: relative;
  display: inline-block;
  color: #666;
  appearance: none;
  border: none;
  background-color: #fff;
  background-image: none;
  outline: none;
  transition:
    border .2s cubic-bezier(0.645, 0.045, 0.355, 1),
    background .2s cubic-bezier(0.645, 0.045, 0.355, 1);

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    background-color: #f3f5f7;

    &:focus,
    &.focus {
      border-color: #ccc;
    }

    &:hover {
      border-color: #ccc;
    }
  }
}

.ui-input-textarea-box {
  position: relative;
  display: inline-block;

  .length-box {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #bbb;
  }
}

textarea {
  &.ui-input-box {
    width: auto;
    max-width: 100%;
    height: auto;
    line-height: 1.5;
    vertical-align: bottom;
    outline: none;
    padding: 4px 7px;

    &:hover {
      border-color: #ccc;
    }

    &:focus {
      border-color: $base-theme-info;
    }

    &.active {
      border-color: $base-theme-info;
    }
  }
}

.ui-input-box {
  height: 32px;
  border: 1px solid $base-theme-default;
  display: flex;
  overflow: hidden;
  position: relative;

  // todo : hover color

  &:focus {
    border-color: $base-theme-info;
  }

  &.active {
    border-color: $base-theme-info;
  }

  @include input-box-size($base-height, $base-fontSize);

  &.shape-radius {
    border-radius: $base-radius;
  }

  .ui-input {
    vertical-align: middle;
    height: 100%;
    flex-grow: 1;
    @include input-size($base-fontSize, 4px 7px);
  }

  /* Input sizes */
  &.size-xl {
    @include input-box-size($base-height-xl, $base-fontSize-xl);

    &.shape-radius {
      border-radius: $base-radius-xl;
    }

    .ui-input {
      @include input-size($base-fontSize-xl, 4px 14px);
    }
  }

  &.size-lg {
    @include input-box-size($base-height-lg, $base-fontSize-lg);

    &.shape-radius {
      border-radius: $base-radius-lg;
    }

    .ui-input {
      @include input-size($base-fontSize-lg, 4px 11px);
    }
  }

  &.size-sm {
    @include input-box-size($base-height-sm, $base-fontSize-sm);

    &.shape-radius {
      border-radius: $base-radius-sm;
    }

    .ui-input {
      @include input-size($base-fontSize-sm, 4px 7px);
    }
  }

  &.size-xs {
    @include input-box-size($base-height-xs, $base-fontSize-xs);

    &.shape-radius {
      border-radius: $base-radius-xs;
    }

    .ui-input {
      @include input-size($base-fontSize-xs, 4px 4px);
    }
  }
}
