$inner-input-class: '.#{$--namespace}-input__inner';

@include b(input-group) {
  display: flex;
  flex-wrap: nowrap;

  @include m(compact) {
    @include b(button) {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
    }

    @include b(input) {
      &:first-child {
        #{$inner-input-class} {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &:last-child {
        #{$inner-input-class} {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &:not(:first-child):not(:last-child) {
        #{$inner-input-class} {
          border-radius: 0;
        }
      }

      @include m(underline) {
        &:not(:last-child) {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 22%;
            right: 1px;
            width: 1px;
            height: 60%;
            background: var(--input-default-border-color);
            z-index: 2;
          }
        }
      }

      &:not(:last-child) {
        margin-right: -1px;
      }
    }
  }
}
