@import '../../style/core/index';
@import 'mixins';

@include b(input) {
  position: relative;
  display: inline-block;
  width: 100%;
  height: var(--input-height-md);
  appearance: none;
  background-color: #fff;
  background-image: none;
  color: var(--input-default-color);
  border: var(--input-default-border);
  line-height: 1.5;
  outline: none;
  transition: all .3s;

  &:hover {
    border-color: var(--theme-primary);
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--input-disabled-background-color);
    color: var(--input-disabled-color);

    &:hover {
      border-color: var(--input-default-border-color);
    }
  }

  @include placeholder {
    color: var(--input-placeholder-color);
  }

  @include e(affix-wrapper) {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: start;
    line-height: 1.5;
    font-size: 14px;

    @include b(input) {
      position: relative;
      width: 100%;
      display: block;
      text-align: inherit;
      flex: 1;

      &:not(:last-child) {
        padding-right: 30px;
      }

      &:not(:first-child) {
        padding-left: 30px;
      }
    }

    @include e(prefix, suffix) {
      position: absolute;
      top: 50%;
      z-index: 2;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.65);
      line-height: 0;
      flex-shrink: 0;
      white-space: nowrap;
      transform: translateY(-50%);
    }

    @include e(prefix) {
      left: 12px;
    }

    @include e(suffix) {
      right: 12px;
    }

    @include e(line) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      margin: 0;
      height: 1px;
      border: none;
      background-color: var(--input-default-border-color);
    }

    @include e(focus-line) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      transform: scaleX(0);
      margin: 0;
      height: 2px;
      border: none;
      background-color: var(--theme-primary);
      transition: transform 0.25s;
    }

    @include m(lg) {
      font-size: var(--input-font-size-lg);
      @include b(icon) {
        font-size: var(--input-font-size-lg);
      }
    }

    @include m(md) {
      font-size: var(--input-font-size-md);
      @include b(icon) {
        font-size: var(--input-font-size-md);
      }
    }

    @include m(sm) {
      font-size: var(--input-font-size-sm);
      @include b(icon) {
        font-size: var(--input-font-size-sm);
      }
    }

    @include m(underline) {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include b(input) {
        &:not(:last-child) {
          padding-right: 12px;
        }

        &:not(:first-child) {
          padding-left: 12px;
        }
      }

      @include e(prefix, suffix) {
        position: static;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.65);
        line-height: 0;
        flex-shrink: 0;
        white-space: nowrap;
      }
    }

    @include e(clear-icon) {
      cursor: pointer;
      transition: all 0.3s;
      color: rgba(0, 0, 0, 0.25);

      &:hover {
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }

  @include m(radius) {
    border-radius: var(--radius-md);
  }

  @include m(lg) {
    @include input-size(var(--input-height-lg), var(--input-padding-lg), var(--input-font-size-lg));
  }

  @include m(md) {
    @include input-size(var(--input-height-md), var(--input-padding-md), var(--input-font-size-md));
  }

  @include m(sm) {
    @include input-size(var(--input-height-sm), var(--input-padding-sm), var(--input-font-size-sm));
  }

  @include m(without-bordered) {
    border: none;
    background-color: var(--input-disabled-background-color);

    &:disabled {
      background-color: var(--input-disabled-background-color);
      color: var(--input-disabled-color);

      &:hover {
        border-color: none;
      }
    }
  }

  @include m(underline) {
    border: none;

    &:disabled {
      background-color: #fff;
      color: var(--input-disabled-color);

      &:hover {
        border-color: none;
      }
    }
  }

  @include m(focused) {
    @include e(focus-line) {
      transform: scaleX(1) !important;
    }
  }

  @include m(with-bordered) {
    &:focus {
      border-color: var(--theme-primary);
      box-shadow: var(--input-focus-shadow);
      outline: 0;
    }
  }

  @include m(textarea) {
    textarea {
      max-width: 100%;
      height: auto;
      min-height: var(--input-height-md);
      line-height: 1.5;
      vertical-align: bottom;
      transition: all 0.3s, height 0;
      font-size: var(--input-font-size-md);
    }
  }

  @include e(wrapper) {
    position: relative;
    display: inline-block;
    width: 100%;

    @include b(input) {
      padding: 6px 11px;
    }
  }

  @include e(length-wrapper) {
    position: absolute;
    right: 16px;
    bottom: 10px;
    color: var(--input-length-count-color);
  }

  @include e(length-count) {
    color: var(--input-length-max-count-color);
  }

  @include e(length-max-count) {
    color: var(--input-length-count-color);
  }
}

@include b(input-group) {
  display: inline-block;
  width: 100%;
  text-align: start;
  vertical-align: top;

  @include e(wrapper) {
    display: flex;
    position: relative;
    width: 100%;
    line-height: 1.5;
    border-collapse: separate;
    border-spacing: 0;

    @include b(input) {
      flex-grow: 1;
      width: 100%;
      margin-bottom: 0;
      text-align: inherit;
    }

    @include b(icon) {
      font-size: 14px;
    }

    @include m(prepend) {
      @include b(input) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    @include m(append) {
      @include b(input) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  @include e(addon) {
    display: flex;
    position: relative;
    padding: 0 11px;
    color: rgba(0, 0, 0, .65);
    text-align: center;
    white-space: nowrap;
    align-items: center;
    background-color: var(--input-addon-background-color);
    font-size: 14px;
    border: 1px solid var(--input-addon-border-color);
    transition: all .3s;

    @include m(prepend) {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    @include m(append) {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
