@import '../../style/themes/variable';
@import '../../style/core/index';
@import 'mixins';

@include b(button) {
  display: inline-block;
  margin: 0;
  @include button-size($--button-height, 0 $--padding-size-16, $--button-fontSize, $--border-radius-base); // default button size

  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-image: none;
  border: $--border-base;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  -webkit-appearance: none;
  user-select: none;
  transition: background-color 300ms ease-out, border-color 300ms ease-out;

  /* disabled Button */
  @include m(disabled) {
    cursor: not-allowed;
    opacity: .65;
  }

  /* block Button */
  @include m(block) {
    width: 100%;
    display: block;
  }

  @include m(loading) {
    cursor: default;
    opacity: .65;

    @include b(icon) {
      animation: rotate360 1s linear infinite;
    }
  }

  @include m(ghost) {
    background: transparent !important;
    border-color: #fff;
    color: #fff;
  }

  /* Button sizes */
  @include m(xl) {
    @include button-size($--button-height-xl, 0 12px, $--button-fontSize-xl, $--border-radius-base);
  }

  @include m(lg) {
    @include button-size($--button-height-lg, 0 12px, $--button-fontSize-lg, $--border-radius-base);
  }

  @include m(sm) {
    @include button-size($--button-height-sm, 0 8px, $--button-fontSize-sm, $--border-radius-base);
  }

  @include m(xs) {
    @include button-size($--button-height-xs, 0 8px, $--button-fontSize-xs, $--border-radius-base);
  }

  /* Button themes */
  @include m(default) {
    @include button-theme($--button-default-color, $--button-default-bg, $--button-default-border, default);

    @include m(ghost) {
      @include button-theme($--color-white, transparent, $--color-white, default);
    }
  }

  @include m(primary) {
    @include button-theme($--button-info-color, $--button-info-bg, $--button-info-border);

    @include m(ghost) {
      @include button-theme($--color-info, transparent, $--color-info);
    }
    //&.is-ghost {
    //  @include button-theme($--color-info, transparent, $--color-info);
    //}
  }

  @include m(danger) {
    @include button-theme($--button-danger-color, $--button-danger-bg, $--button-danger-border);

    @include m(ghost) {
      @include button-theme($--color-danger, transparent, $--color-danger);
    }
  }
}

@include b(btn-group) {
  @include clearfix;

  display: inline-block;
  vertical-align: middle;

  & > .za-button {
    float: left;
    position: relative;

    & + .za-button {
      margin-left: 0;
    }

    &.is-disabled {
      z-index: 1;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:first-child:last-child {
      border-radius: $--border-radius-base;

      &.is-round {
        border-radius: 20px;
      }

      &.is-circle {
        border-radius: 50%;
      }
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }
  }

  @each $type in (default, primary, danger) {
    .za-button--#{$type} {
      &:first-child {
        border-right-color: rgba($--color-white, 0.5);
      }

      &:last-child {
        border-left-color: rgba($--color-white, 0.5);
      }

      &:not(:first-child):not(:last-child) {
        border-left-color: rgba($--color-white, 0.5);
        border-right-color: rgba($--color-white, 0.5);
      }
    }
  }
}
