@mixin button-theme(
  $background,
  $border,
  $color,
  $hover-background,
  $hover-border,
  $hover-color,
  $active-background,
  $active-border,
  $active-color,
  $disabled-background,
  $disabled-border,
  $disabled-color,
  $disabled-opacity
) {
  background-color: $background;
  border-color: $border;
  color: $color;

  &:hover,
  &:focus {
    background-color: $hover-background;
    border-color: $hover-border;
    color: $hover-color;
  }

  @include m(disabled) {
    background-color: $disabled-background;
    border-color: $disabled-border;
    color: $disabled-color;
    opacity: $disabled-opacity;
    cursor: not-allowed;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      background-color: $disabled-background;
      border-color: $disabled-border;
      color: $disabled-color;
    }
  }

  @include m(loading) {
    background-color: $disabled-background;
    border-color: $disabled-border;
    color: $disabled-color;
  }
}

@mixin button-link(
  $color,
  $active-color
) {
  background-color: transparent;
  border-color: transparent;
  color: $color;

  &:hover,
  &:active {
    color: $active-color;
  }

  @include m(disabled) {
    &,
    &:active,
    &:hover,
    &:focus,
    &:visited {
      background-color: transparent;
      border-color: transparent;
      color: var(--color-text-disabled);
      cursor: not-allowed;
    }
  }
}

@mixin button-ghost(
  $border,
  $color,
  $active-border,
  $active-color
) {
  @include m(ghost) {
    background-color: transparent;
    border-color: $border;
    color: $color;

    &:hover,
    &:active {
      background-color: transparent;
      border-color: $active-border;
      color: $active-color;
    }

    @include m(disabled) {
      &,
      &:active,
      &:hover,
      &:focus,
      &:visited {
        background-color: transparent;
        border-color: var(--button-ghost-disabled-border);
        color: var(--button-ghost-disabled-color);
        cursor: not-allowed;
      }
    }
  }
}

@mixin button-size($height, $padding, $font-size, $icon-size) {
  padding: 0 $padding;
  font-size: $font-size;
  height: $height;

  @include b(icon) {
    font-size: $font-size;
    vertical-align: middle;
  }

  @include m (link) {
    line-height: $height;
  }

  @include m(circle) {
    width: $height;
    min-width: var(--button-height-md);
    padding: 0;
  }

  @include m(icon-only) {
    width: $height;
    min-width: var(--button-height-md);
    padding: 0;

    @include b(icon) {
      font-size: $icon-size;
      vertical-align: middle;
      line-height: 0 !important;
    }
  }

  * + span {
    margin-left: calc(#{$padding} / 2);
  }
}

@mixin button-base() {
  padding: 0;
  font-weight: normal;
  text-align: center;
  overflow: hidden;
  color: var(--color-text);
  transition-property: background-color, border-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  cursor: pointer;
  outline: 0 none;
  -webkit-appearance: none;
  user-select: none;

  &,
  &:active,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  /* disabled Button */
  @include m(disabled) {
    cursor: not-allowed;
    opacity: var(--opacity-disabled);
  }

  /* block Button */
  @include m(block) {
    display: block;
    width: 100%;
  }

  /* loading btn */
  @include m(loading) {
    cursor: default;
    opacity: .65;
  }
}

// 形状
@mixin button-shape($border-radius: 0) {
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;
}
