.ui-notification {
  width: 330px;
  padding: 16px;
  box-sizing: border-box;
  border-radius:  $base-radius-xs;
  position: fixed;
  right: 16px;
  background-color: $base-btn-info-color;
  box-shadow: $box-shadow-base;
  transition: opacity 0.3s, transform .3s, right .3s, top 0.4s;
  overflow: hidden;
  animation: notification-in .3s;

  .ui-notification-wrap {
    margin-left: 0;
    &.has-icon {
      margin-left: 55px;
    }

    .ui-notification-close {
      position: absolute;
      z-index: 1000;
      width: 16px;
      height: 16px;
      right: 16px;

      &:hover {
        color: rgba(0, 0, 0, .67);
      }
    }

    .ui-notification-title {
      font-weight: normal;
      font-size: $base-fontSize-lg;
      color: #1f2d3d;
      margin: 0;
    }

    .ui-notification-content {
      font-size: $base-fontSize;
      line-height: 21px;
      margin: 10px 0 0 0;
      color: #8391a5;
      text-align: justify;
    }

    .ui-notification-icon {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 42px;
    }
  }
}

@keyframes notification-in {
  from {
    transform: translateX(100%);
    right: 0;
  }
}

@keyframes notification-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


