
.ui-dropdown {
  min-width: 120px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0,0,0,0.17);
  border-radius: 6px;
  text-align: left;
  z-index: 100;

  &.ui-dropdown-hidden {
    display: none;
  }
}