
.ui-form {

  .ui-form-item {
    font-size: 14px;
    margin-bottom: 24px;
    color: #333;
    zoom: 1;

    > label {
      color: #333;
      text-align: right;
      vertical-align: middle;
      line-height: 32px;

      position: relative;
      display: block;
      float: left;
      flex: 0 0 auto;
      padding-left: 0;
      padding-right: 10px;
    }

    .ui-form-item-control {
      position: relative;
      display: block;
      float: left;
      flex: 0 0 auto;
      padding-left: 0;
      padding-right: 0;
      line-height: 32px;

      &.has-error {
        .ui-form-explain {
          color: #f50;
        }
      }
    }

    .ui-form-explain {
      line-height: 1.5;
      margin-top: 3px;
      color: gray;
    }

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
      visibility: hidden;
      font-size: 0;
      height: 0;
    }
  }

  &.ui-form-horizontal {
    .ui-form-item {
      position: relative;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      height: auto;
    }
  }

  &.ui-form-inline {
    .ui-form-item {
      display: inline-block;
      margin-right: 10px;
    }
  }
}