
@font-face {
  font-family: "dragonicon";
  src: url('#{$icon-url}.eot');
  src: url('#{$icon-url}.eot?#iefix') format('embedded-opentype'),
    url('#{$icon-url}.woff') format('woff'),
    url('#{$icon-url}.ttf') format('truetype'),
    url('#{$icon-url}.svg#dragonicon') format('svg');
}

.ui-icon {
  font-family: "dragonicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.ui-icon-check:before { content: "\e602"; }
.ui-icon-close:before { content: "\e605"; }
.ui-icon-favorfill:before { content: "\e606"; }
.ui-icon-favor:before { content: "\e607"; }
.ui-icon-loading:before { content: "\e608"; }
.ui-icon-roundcheckfill:before { content: "\e609"; }
.ui-icon-roundcheck:before { content: "\e60a"; }
.ui-icon-roundclosefill:before { content: "\e60b"; }
.ui-icon-roundclose:before { content: "\e60c"; }
.ui-icon-roundrightfill:before { content: "\e60d"; }
.ui-icon-roundright:before { content: "\e60e"; }
.ui-icon-search:before { content: "\e60f"; }
.ui-icon-timefill:before { content: "\e610"; }
.ui-icon-time:before { content: "\e611"; }
.ui-icon-unfold:before { content: "\e612"; }
.ui-icon-warnfill:before { content: "\e613"; }
.ui-icon-warn:before { content: "\e614"; }
.ui-icon-likefill:before { content: "\e615"; }
.ui-icon-like:before { content: "\e616"; }
.ui-icon-back:before { content: "\e617"; }
.ui-icon-questionfill:before { content: "\e618"; }
.ui-icon-question:before { content: "\e619"; }
.ui-icon-pic:before { content: "\e61a"; }
.ui-icon-pulldown:before { content: "\e61b"; }
.ui-icon-pullup:before { content: "\e61c"; }
.ui-icon-right:before { content: "\e61d"; }
.ui-icon-refresh:before { content: "\e61e"; }
.ui-icon-deletefill:before { content: "\e61f"; }
.ui-icon-delete:before { content: "\e620"; }
.ui-icon-roundaddfill:before { content: "\e621"; }
.ui-icon-roundadd:before { content: "\e622"; }
.ui-icon-fold:before { content: "\e623"; }
.ui-icon-infofill:before { content: "\e624"; }
.ui-icon-info:before { content: "\e625"; }
.ui-icon-forwardfill:before { content: "\e626"; }
.ui-icon-forward:before { content: "\e627"; }
.ui-icon-set:before { content: "\e600"; }
.ui-icon-board:before { content: "\e601"; }
.ui-icon-noticefill:before { content: "\e628"; }
.ui-icon-notice:before { content: "\e629"; }
.ui-icon-creativefill:before { content: "\e62a"; }
.ui-icon-creative:before { content: "\e62b"; }
.ui-icon-female:before { content: "\e62c"; }
.ui-icon-male:before { content: "\e62d"; }
.ui-icon-newfill:before { content: "\e62e"; }
.ui-icon-new:before { content: "\e62f"; }
.ui-icon-pullleft:before { content: "\e630"; }
.ui-icon-pullright:before { content: "\e631"; }
.ui-icon-rankfill:before { content: "\e632"; }
.ui-icon-rank:before { content: "\e633"; }
.ui-icon-picfill:before { content: "\e634"; }
.ui-icon-markfill:before { content: "\e635"; }
.ui-icon-mark:before { content: "\e636"; }
.ui-icon-tagfill:before { content: "\e637"; }
.ui-icon-tag:before { content: "\e638"; }
.ui-icon-project:before { content: "\e603"; }
.ui-icon-logout:before { content: "\e604"; }
