
.ui-modal-header {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #e9e9e9;
  padding: 0 20px;

  .ui-modal-title {
    font-size: 16px;
    line-height: 50px;
  }

  .ui-modal-close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 16px;
    line-height: 50px;
    color: #999;
    cursor: pointer;

    &:hover {
      color: #666;
      /*animation: rotate360 .2s ease-out;*/
    }
  }
}