@include b(checkbox-group) {
  display: inline-block;

  label {
    margin-right: 16px;
  }
}

/* 一般状态 */
@include b(checkbox) {
  display: inline-block;
  position: relative;
  padding-right: $base-padding-xs;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  cursor: pointer;

  /* 选中状态 */
  &.is-checked {
    .zw-checkbox__inner {
      border-color: $base-theme-info;
      background-color: $base-theme-info;

      &:after {
        transform: rotate(45deg) scale(1);
        transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
      }
    }
  }

  /* 未全部选中状态 */
  &.is-indeterminate {
    .zw-checkbox__inner {
      border-color: $base-theme-info;
      background-color: $base-theme-info;

      &:after {
        transform: rotate(90deg) translate(1px, -1px);
        width: 0;
      }
    }
  }

  /* 禁用状态 */
  &.is-disabled {
    .zw-checkbox__inner {
      border-color: #d9d9d9;
      background-color: #f3f3f3;
      cursor: not-allowed;

      &:after {
        border-color: #ccc;
      }
    }
  }

  &:not(.is-disabled):hover {
    .zw-checkbox__inner {
      border-color: $base-theme-info;
    }
  }

  @include e(inner) {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    background-color: #fff;
    transition: border-color .1s cubic-bezier(.71, -0.46, .29, 1.46), background-color .1s cubic-bezier(.71, -0.46, .29, 1.46);

    &:after {
      transform: rotate(45deg) scale(0);
      position: absolute;
      left: 4px;
      top: 1px;
      display: table;
      width: 5px;
      height: 8px;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      content: ' ';
      transition: all .1s cubic-bezier(.71, -0.46, .88, .6);
    }
  }

  @include e(input) {
    position: absolute;
    left: 0;
    opacity: 0;
  }

  & + span {
    margin-left: 5px;
  }
}
