@import "../../style/themes/default";
@import "../../style/core/mixins/index";

@include b(checkbox-group) {
  display: inline-block;
  label {
    margin-right: 16px;
  }
}
@mixin checkbox-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
  @include b(checkbox__inner) {
    border-color: #d9d9d9;
    background-color: #f3f3f3;
    cursor: not-allowed;
    &:after {
      border-color: #ccc;
    }
  }
}
/* 选中状态 */
@include b(checkbox-checked) {
  @include b(checkbox__inner) {
    border-color: var(--theme-primary);
    background-color: var(--theme-primary);
    &:after {
      transform: rotate(45deg) scale(1);
      transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    }
  }
}

/* 未全部选中状态 */
@include b(checkbox-indeterminate) {
  @include b(checkbox__inner) {
    border-color: #bcbcbc;
    background-color: var(--checkbox-color-white);
    &:after {
      transform: rotate(90deg) translate(2px, 1px);
      width: 6px;
      height: 6px;
      border: 0px;
      background-color: var(--theme-primary);
    }
  }
}

/* 禁用状态 */
@include b(checkbox-wrapper-disabled) {
  @include checkbox-disabled;
}
@include b(checkbox-disabled) {
  @include checkbox-disabled;
}

/* 一般状态 */
@include b(checkbox) {
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  cursor: pointer;

  &:not(&-disabled):hover {
    @include b(checkbox__inner) {
      border-color: var(--theme-primary);
    }
  }

  @include e(inner) {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(188, 188, 188, 1);
    border-radius: 2px;
    background-color: #fff;
    transition: border-color 0.1s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      background-color 0.1s cubic-bezier(0.71, -0.46, 0.29, 1.46);
    &:after {
      transform: rotate(45deg) scale(0);
      position: absolute;
      left: 4px;
      top: 1px;
      display: table;
      width: 5px;
      height: 8px;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      content: " ";
      transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
    }
  }

  @include e(input) {
    position: absolute;
    left: 0;
    opacity: 0;
  }

  & + span {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
  }
}
