@import './mixin';

@include b(tabs) {
  overflow: hidden;

  @include m(horizontal) {

    @include b(tabs-header) {
      // @include clearfix;
      @include tabs-header-style();

      border-bottom: 1px solid #e8e8e8;
      padding: 0 20px;
      @include b(tabs-scroll) {
        // display: flex;
        // flex-direction: row;
        // flex: 1 0 auto;
        // overflow-x: scroll;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        @include b(tabs-nav) {
          position: relative;
          display: inline-block;
          transition: transform .3s $default-transition;
          @include b(tabs-header-item) {
            // float: left;
            display: inline-block;
            text-align: center;
          }
        }
        @include b(tabs-line) {
          position: absolute;
          left: 0;
          bottom: 0;
          width: auto;
          border-bottom: 2px solid #00bc70;
          transition: transform $default-transition;
        }
      }
      @include b(tabs-arrow) {
        @include m(left) {
          position: absolute;
          left: 0;
          top: 5px;
        }
        @include m(right) {
          position: absolute;
          right: 0;
          top: 5px;
        }
      }
    }

    @include b(tabs-body) {
      @include tabs-body-style();

      display: flex;
      flex-direction: row;
      width: 100%;
      @include m(animate) {
        transition: margin-left $default-transition;
      }
      @include m(no-animate) {
        transition: none;
      }
      @include b(tabs-body-item) {
        width: 100%;
        flex-shrink: 0;
      }
    }

    @include m(line) {
      @include b(tabs-header-item) {
        padding: 0 16px 12px;
        height: 34px;
      }
    }

    @include m(card) {
      @include b(tabs-header-item) {
        padding: 10px 16px 12px;
        border: 1px solid #e6e6e6;
        border-radius: 4px 4px 0 0;
        margin-right: 4px;
        background: #fafafa;

        @include m(active) {
          border-bottom: 1px solid #fff;
        }
      }
    }

    @include m(noborder-card) {
      @include b(tabs-header-item) {
        padding: 10px 16px 12px;
        background: #f2f2f2;
        @include m(active) {
          background: #fff;
          border: none;
        }
      }

      @include b(tabs-body) {
        background: #fff;
        transition: none;
      }
      @include b(tabs-body-item) {
        background: #fff;
      }
    }
  }

  @include m(vertical) {
    @include b(tabs-header) {
      @include tabs-header-style();

      // overflow: hidden;
      padding: 20px 0;
      float: left;
      height: 100%;
      @include b(tabs-scroll) {
        height: 100%;
        overflow: hidden;
        white-space: no-wrap;
        @include b(tabs-nav) {
          position: relative;
          transition: transform .3s $default-transition;
          @include b(tabs-header-item) {
            width: 70px;
            text-align: left;
            margin-bottom: 26px;
          }
        }
      }
      @include b(tabs-arrow) {
        @include m(top) {
          position: absolute;
          top: 0;
          left: 10px;
        }
        @include m(bottom) {
          position: absolute;
          bottom: 0;
          left: 10px;
        }
      }
    }

    @include b(tabs-body) {
      @include tabs-body-style();

      padding-left: 10px;
      overflow: hidden;
      position: relative;
      @include b(tabs-body-item) {
        height: 0;
        @include m(active) {
          height: auto;
        }
      }
    }
  }
}
