@mixin tabs-size($font-size) {
    font-size: $font-size;
    
    @include b(tabs-header-item-icon) {
      font-size: $font-size;
      display: inline-block;
      color: #BCBCBC;
      margin-left: 8px;
    }
}

@mixin tabs-header-style() {
  position: relative;
  @include b(tabs-scroll) {
    position: relative;
    margin: 0;
    list-style: none;
    padding: 0;
    margin-bottom: -1px;

    @include b(tabs-header-item) {
      position: relative;
      cursor: pointer;
      line-height: normal;
      color: #616161;
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: auto;
  
      @include m(disabled) {
        color: #BCBCBC;
        cursor: not-allowed;
      }
  
      @include m(active) {
        background: #fff;
        color: #00BC70;
      }

      @include m(sm) {
        @include tabs-size(
          var(--tabs-font-size-sm),
        )
      }

      @include m(md) {
        @include tabs-size(
          var(--tabs-font-size-md),
        )
      }

      @include m(lg) {
        @include tabs-size(
          var(--tabs-font-size-lg),
        )
      }
    }
  
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include b(tabs-arrow) {
    color: #909090;
    font-size: 12px;
    cursor: pointer;
  }
}

@mixin tabs-body-style {
  @include clearfix;
  
  position: relative;
  transition: height .3s;

  @include b(tabs-body-item) {
    line-height: normal;
    opacity: 0;
    overflow: hidden;
    height: 0;

    @include m(active) {
      opacity: 1;
      height: auto;
    }
  }
}