@mixin avatar-size($width, $height, $font-size) {
  width: $width;
  height: $height;
  line-height: $height;

  > * {
    line-height: $height;
  }

  &.has-icon {
    font-size: $font-size;
  }
}

@include b(avatar) {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-variant: tabular-nums;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
  background: $--avatar-default-bg-color;
  color: $--avatar-default-color;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  border-radius: $--avatar-border-radius;
  font-size: $--avatar-fontSize;

  > img {
    width: 100%;
    height: 100%;
  }

  @include avatar-size($--avatar-width, $--avatar-height, $--avatar-fontSize-icon);

  &.is-square {
    border-radius: $--border-radius-base;
  }

  &.has-icon {
    font-size: $--avatar-fontSize-icon;
  }

  &.has-image {
    background: transparent;
  }

  &.has-string {
    font-size: $--avatar-fontSize;
  }

  /* Avatar sizes */
  @include m(xl) {
    @include avatar-size($--avatar-width-xl, $--avatar-height-xl, $--avatar-fontSize-icon-xl);
  }

  @include m(lg) {
    @include avatar-size($--avatar-width-lg, $--avatar-height-lg, $--avatar-fontSize-icon-lg);
  }

  @include m(sm) {
    @include avatar-size($--avatar-width-sm, $--avatar-height-sm, $--avatar-fontSize-icon-sm);
  }

  @include m(xs) {
    @include avatar-size($--avatar-width-xs, $--avatar-height-xs, $--avatar-fontSize-icon-xs);
  }
}
