@mixin icon-theme($color) {
  color: $color;
}

.za-icon {
  font-style: normal;
  font-size: 16px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.theme-primary {
    @include icon-theme($base-theme-info);
  }

  &.theme-success {
    @include icon-theme($base-theme-success);
  }

  &.theme-warning {
    @include icon-theme($base-theme-warning);
  }

  &.theme-danger {
    @include icon-theme($base-theme-error);
  }
}
