@include b(message) {
  position: fixed;
  width: 100%;
  top: 16px;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  transition: opacity 0.3s, transform .3s, right .3s, top 0.4s;

  .za-notification__content {
    text-align: center;

    &.has-icon {
      margin-left: 55px;
    }

    .za-notification__custom-content {
      display: inline-block;
      padding: 10px 16px;
      pointer-events: all;
      font-size: $base-fontSize;
      color: #8391a5;
      background: #fff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      border-radius: 4px;

      .za-notification__icon {
        position: static;
        top: -2px;
        transform: translate(0, 0);
        margin-right: 8px;
        vertical-align: middle;
        font-size: 16px;

        &.theme-loading {
          animation: rotate360 1s linear infinite;
          font-size: 14px;
        }
      }
    }
  }

  &.message-in {
    animation-name: message-in;
  }

  &.message-out {
    animation-name: message-out;
  }
}

@keyframes message-in {
  from {
    transform: translateY(-100%);
  }
}

@keyframes message-out {
  0% {
    opacity: 1;
    max-height: 150px;
  }

  100% {
    opacity: 0;
    max-height: 0;
  }
}

