@import "./mixins";

@include b(message-container) {
  position: fixed;
  width: 0;
  height: 0;
  top: 20px;
  left: 50%;
  overflow: visible !important;
  z-index: var(--zindex-message);
  transform: translate3d(0, 0, 0);
}

@include b(message) {
  position: relative;
  width: fit-content;
  min-width: 380px;
  min-height: 42px;
  top: 0;
  font-size: var(--message-font-size);
  font-weight: 400;
  color: var(--message-color);
  padding: 12px 16px;
  border-radius: var(--radius-md);
  background-color: var(--color-text-inverse);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  line-height: var(--message-line-height);
  margin-bottom: 20px;
  transform: translate3d(-50%, 0, 0);
  overflow: hidden;

  @include e(content) {
    position: relative;
    &.has-icon {
      padding-left: 20px;
    }
    @include b(loading) {
      padding-top: 1px;
    }
  }

  @include e(icon) {
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 1em;
    line-height: 0;
    vertical-align: top;
  }

  @include message-animation(topCenter);
}

@include message-keyframes(topCenter, -100%, -40px);
