@import '../../style/themes/variable';
@import '../../style/themes/default';
@import "../../style/core/mixins/index";

@include b(message) {
  position: fixed;
  width: 100%;
  top: 20px;
  left: 0;
  z-index: $base-zindex-message;
  pointer-events: none;
  transition: opacity 0.3s, transform .3s, right .3s, top 0.4s;
  animation-duration: 0.3s;

  @include e(content) {
    text-align: center;

    // &.has-icon {
    // }
  }

  @include e(custom-content) {
    display: inline-block;
    padding: 10px 16px 10px 40px;
    pointer-events: all;
    font-size: var(--font-size-md);
    color: #8391a5;
    background: var(--color-text-inverse);
    box-shadow: var(--box-shadow-dark);
    border-radius: var(--radius-md);
    max-width: 500px;
    min-width: 150px;
    text-align: left;
    text-indent: -12px;
  }

  @include e(icon) {
    margin-right: 8px;
    vertical-align: -0.25em;
    font-size: var(--font-size-lg);

    &.theme-loading {
      animation: rotate360 1s linear infinite;
      font-size: var(--font-size-md);
    }
  }

  &.message-in {
    animation-name: message-in;
  }

  &.message-out {
    animation-name: message-out;
  }
}

@keyframes message-in {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
  }
}

@keyframes message-out {
  0% {
    opacity: 1;
    max-height: 150px;
  }

  100% {
    opacity: 0;
    max-height: 0;
  }
}

