*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Helvetica, Microsoft YaHei, Arial;
  line-height: 1.42857143;
  color: #383838;
  font-size: 14px;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: #00bc70;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

.app {
  .container {
    width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .header {
    height: 80px;
    background-color: #12c287;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    position: relative;

    h1 {
      position: relative;
      margin: 0;
      float: left;
      font-size: 32px;
      font-weight: 400;

      a {
        color: #fff;
        text-decoration: none;
        display: block;
      }

      img {
        vertical-align: sub;
        pointer-events: none;
      }
    }

    .nav {
      float: right;
      height: 100%;
      line-height: 80px;
      background: transparent;
      padding: 0;
      margin: 0;
    }

    .nav-item {
      margin: 0;
      float: left;
      list-style: none;
      position: relative;
      cursor: pointer;
      margin-left: 20px;

      &:last-child {
        cursor: default;
        margin-left: 34px;
      }

      .nav-lang {
        cursor: pointer;
        display: inline-block;
        height: 100%;
        opacity: .8;
      }

      .nav-lang.active {
        font-weight: 700;
        opacity: 1;
      }

      a {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 0 20px;
        opacity: .8;
      }

      a.active {
        font-weight: 700;
        opacity: 1;
      }

      a.active:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        opacity: 0.4;
        background: #fff;
      }

      .lang {
        cursor: pointer;
        user-select: none;
        padding: 4px 8px;
        border: 1px solid #fff;
        border-radius: 2px;
      }
    }
  }

  .main {
    padding-top: 30px;
    padding-bottom: 90px;
  }
}

.main-container {
  display: inline-block;
  vertical-align: top;
  width: 100%;

  table.grid {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    color: #5e6d82;
    font-size: 14px;
    margin-bottom: 45px;
    line-height: 1.5em;

    strong {
      font-weight: normal;
    }

    th {
      text-align: left;
      border-top: 1px solid #eaeefb;
      background-color: #eff2f7;
      white-space: nowrap;
    }

    td,
    th {
      border-bottom: 1px solid #eaeefb;
      padding: 10px;
      max-width: 250px;
    }

    th:first-child,
    td:first-child {
      padding-left: 10px;
    }
  }
}

.side-nav {
  display: inline-block;
  vertical-align: top;
  width: 25%;

  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .nav-item {
    a {
      font-size: 16px;
      color: #5e6d82;
      line-height: 40px;
      height: 40px;
      margin: 0;
      padding: 0;
      text-decoration: none;
      display: block;
      position: relative;
      transition: all .15s ease-out;

      &.active {
        color: #12c287;
        font-weight: 600;
      }
    }

    .nav-item {
      a {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        padding-left: 24px;

        &:hover {
          color: #12c287;
        }
      }
    }
  }

  .nav-group__title {
    font-size: 12px;
    color: #99a9bf;
    padding-left: 8px;
    line-height: 26px;
    margin-top: 10px;
  }
}

.za-button:not(.za-button--block) + .za-button:not(.za-button--block) {
  margin-left: 12px;
}

.demo-transition {
  .za-row {
    margin-bottom: 20px;
  }
}

.demo-dropdown {
  button {
    margin-right: 12px;
  }
}

.demo-form {
  input,
  .za-tag-input-box { width: 200px; }
}

.demo-popper {
  .za-popper {
    margin: 12px;
  }
}

.demo-block {
  padding-top: 20px;
  border: solid 1px #eaeefb;
  border-radius: 4px;
  transition: all .2s;

  &:hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
    border-color: rgba(18, 194, 135, .2);
  }

  > p,
  > div,
  > h2 {
    padding: 0 20px;
  }

  code {
    font-family: Menlo, Monaco, Consolas, Courier, monospace;
  }

  .za-btn-group + .za-btn-group {
    margin-left: 12px;
  }

  .ghost-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85px;
    background: rgba(204, 204, 204, 1);
  }

  .source {
    position: relative;

    .za-tag {
      margin-right: 8px;
    }

    .multi-rows {
      overflow: hidden;
      margin-bottom: 24px;

      &.block-row {
        .za-button {
          margin-bottom: 12px;
        }
      }
    }

    .buttons {
      > button {
        margin-bottom: 8px;
      }
    }

    .icons {
      .za-icon {
        font-size: 28px;
      }
    }
  }

  .meta {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    background-color: #f9fafc;
    border-top: solid 1px #eaeefb;
  }

  .highlight {
    overflow: auto;
    border-right: 1px solid #eaeefb;
  }

  .description {
    float: right;
    padding: 18px 24px;
    width: 270px;
    font-size: 14px;
    line-height: 1.8;
    color: #5e6d82;
    margin-left: -1px;
    word-break: break-word;
    box-sizing: border-box;
    border-left: 1px solid #eaeefb;

    p {
      margin: 0;
    }

    code {
      color: #5e6d82;
      background-color: #e6effb;
      margin: 0 4px;
      transform: translateY(-2px);
      display: inline-block;
      padding: 1px 5px;
      font-size: 12px;
      border-radius: 3px;
    }
  }

  .demo-block-control {
    border-top: solid 1px #eaeefb;
    height: 36px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    margin-top: 20px;
    color: #d3dce6;
    cursor: pointer;
    transition: .2s;
    position: relative;

    i {
      font-size: 12px;
      line-height: 36px;
      margin-right: 5px;
    }

    span {
      display: inline-block;
      transform: translateX(-40px);
      font-size: 14px;
      line-height: 36px;
      transition: .3s;
      //opacity: 0;
    }

    &:hover {
      color: rgba(18, 194, 135, .7);
      background-color: rgba(18, 194, 135, .2);
    }
  }

  .demo-block-control:hover {
    span {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.content p {
  margin: 1em 0;
  font-size: 14px;
  color: #5e6d82;
}

.page-up {
  background-color: #24292e;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  opacity: .4;
  transition: .3s;

  &::after {
    content: '';
    position: absolute;
    top: 18px;
    left: 15px;
    width: 20px;
    height: 20px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(135deg);
  }
}

.page-up:hover {
  opacity: 1;
}

.demo-avatar {
  .avatar-list {
    .za-avatar {
      margin-top: 16px;
      margin-right: 16px;
    }
  }
}
