
@keyframes scale-enter {
  from {
    transform: scale3d(.3, .3, .3);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.scale-enter {
  animation: scale-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes scale-leave {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(.3, .3, .3);
  }
}
.scale-leave {
  animation: scale-leave both;
}