@import "../core/index";

.App-container {

  .siderbar {
    float: left;
    width: 250px;
    min-height: 100%;
  }

  .inner {
    width: 100%;
    /*border-left: 250px solid #40c16b;*/
    padding: 80px;
  }

  @media (max-width: 768px) {
    .siderbar {
      width: 50px;
    }

    .inner {
      border-left-width: 50px;
      padding: 30px;
    }
  }
}
