.ui-row {
  margin: 8px 0;
  height: 120px;
  background: #f5f5f5;

  > div:not(.gutter-row) {
    //padding: 16px 0;
    height: 80px;
    line-height: 80px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 0;

    &:nth-child(2n) {
      background: rgba(18, 194, 135, 1);
    }

    &:nth-child(2n+1) {
      background: rgba(18, 194, 135, .5);
    }
  }

  .grid-box {
    background: #12c287;
    height: 80px;
    line-height: 80px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 0;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .height-50 {
    height: 50px !important;
    line-height: 50px !important;
  }
}
