
.demo {
  border: 1px solid #E9E9E9;
  padding: 50px;

  .ui-form {
    max-width: 700px;

    .ui-form-item {
      .ui-button,
      .ui-switch,
      .ui-select {
        margin-right: 10px;
      } 
    }
    
  }
}
