
.demo {
  max-width: 1000px;
  border: 1px solid #E9E9E9;
  padding: 50px 20px;

  .ui-form {
    .ui-form-item {
      .ui-button,
      .ui-switch,
      .ui-select {
        margin-right: 10px;
      } 
    }
    
  }
}