$prefixCls: zw;
$treePrefixCls: zw-tree;
$tree-node-switcher-width: 20px;
$tree-node-height: 20px;
$tree-node-line-height: 20px;
$tree-node-checkbox-width: 20px;

.#{$treePrefixCls} {
  margin: 0;
  padding: 0;

  li {
    position: relative;
    padding: 5px 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    outline: 0;

    & > div {
      display: inline-flex;

      &:focus {
        box-shadow: 0 0 2px 2px rgba(18, 194, 135, 0.1);
        border-radius: 2px;
      }

      &.#{$treePrefixCls}-treenode-disabled {
        span.#{$treePrefixCls}-node-content-wrapper {
          color: #bcbcbc;
          cursor: not-allowed;

          &:hover {
            background-color: transparent;
            color: #bcbcbc;
          }

          .#{$prefixCls}-icon {
            color: #bcbcbc;
          }
        }
      }
    }

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      padding-bottom: 0;
    }

    .collapse {
      overflow: hidden;
      display: block;
    }

    .collapse-active {
      transition: height 0.2s ease-out;
    }

    ul {
      margin: 0;
      padding: 0 0 0 18px;
    }

    span {
      &.#{$treePrefixCls}-switcher {
        width: $tree-node-switcher-width;
        height: $tree-node-height;
        line-height: $tree-node-line-height;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;

        &.#{$treePrefixCls}-switcher-open,
        &.#{$treePrefixCls}-switcher-close {
          .#{$treePrefixCls}-switcher-icon {
            i {
              font-size: 12px;
              transition: transform .3s;
            }
          }
        }

        &.#{$treePrefixCls}-switcher-open .#{$treePrefixCls}-switcher-icon i {
          transform: rotate(90deg);
        }

        &.#{$treePrefixCls}-switcher-noop {
          cursor: default;
        }

        .#{$treePrefixCls}-switcher-line-icon i {
          vertical-align: 1px;
        }

        .#{$treePrefixCls}-switcher-icon i {
          vertical-align: 2px;
        }
      }

      &.#{$treePrefixCls}-checkbox {
        width: $tree-node-checkbox-width;
        line-height: $tree-node-line-height;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;

        & > span {
          vertical-align: 1px;
        }
      }

      &.#{$treePrefixCls}-node-content-wrapper {
        padding: 0 4px;
        display: inline-block;
        line-height: $tree-node-line-height;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.65);
        cursor: pointer;
        text-decoration: none;
        transition: all .3s;
        border-radius: 1px;
        vertical-align: middle;

        &.#{$treePrefixCls}-node-selected {
          background-color: var(--theme-primary);
          color: #fff;

          .#{$treePrefixCls}-node-content-icon {
            i {
              color: #fff;
            }
          }
        }

        &:not(.#{$treePrefixCls}-node-selected):hover {
          background-color: rgba(18, 194, 135, 0.1);
          color: #12c287;
          border-radius: 1px;
        }

        .#{$treePrefixCls}-node-content-icon {
          margin-right: 2px;

          i {
            vertical-align: baseline;
          }
        }
      }

      &:not(.#{$treePrefixCls}-node-content-icon) {
        > i.#{$prefixCls}-icon {
          color: rgba(0, 0, 0, .7);
        }
      }

      i.#{$prefixCls}-icon {
        svg {
          vertical-align: middle;
        }
      }
    }

    .#{$treePrefixCls}-node-disabled {
      > span:not(.#{$treePrefixCls}-switcher),
      > a,
      > span {
        color: #bcbcbc;
        cursor: not-allowed;
        background: none;
      }
    }
  }

  &.#{$treePrefixCls}-show-line {
    li {
      .#{$treePrefixCls}-switcher-open {
        .#{$treePrefixCls}-switcher-line-icon {
          width: $tree-node-switcher-width;
          height: $tree-node-height;
        }

        .#{$treePrefixCls}-switcher-icon {
          width: $tree-node-switcher-width;
          height: $tree-node-height;
        }
      }

      &:not(:last-child) {
        &:before {
          position: absolute;
          top: 23px;
          left: 9px;
          bottom: -8px;
          border-right: 1px solid #ccc;
          content: "";
        }

        &:first-child:before {
          top: 29px;
        }
      }
    }
  }
}
