.components-page {
  header {
    box-shadow: 0 2px 8px #f0f1f2;
  }

  main {
    position: relative;
    min-width: 1200px;
    margin: 100px auto 15px;
    background-color: #fff;
    overflow: hidden;

    .main-container {
      min-height: 500px;
      margin-left: -1px;
      padding: 0 50px 140px 330px;
      overflow: hidden;
      border-left: 1px solid #ebedf0;

      &.no-simulator {
        padding-right: 60px;
      }
    }

    .simulator {
      position: fixed;
      top: 110px;
      right: 0;
      width: 500px;
      z-index: 10;

      iframe {
        box-sizing: content-box;
        background: #f6f6f6;
        border: 1px solid #eaeefb;
        width: 375px;
        height: 667px;
      }
    }
  }
}

.site-page-loading {
  //margin-top: 40vh;
  //margin-left: 40vw;
}

.scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #999;
  font-size: 20px;
  border-radius: 30px;
  background-color: #fff;
  opacity: 0.9;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 11;

  &:hover {
    // background-color: #00bc70;
    // color: #fff;
    box-shadow: 0 2px 10px 0 rgba(18, 194, 135, 0.3);
  }
}
