@import '../../style/themes/variable';
@import '../../style/core/index';

@include b(switch) {
  position: relative;
  display: inline-block;
  width: var(--switch-width-md);
  height: var(--switch-height-md);
  line-height: var(--switch-line-height-md);
  vertical-align: middle;
  border-radius: var(--switch-line-height-md);
  background-color: var(--background-disabled);
  cursor: pointer;
  transition: var(--switch-transition);
  user-select: none;

  &:after {
    position: absolute;
    width: var(--switch-inner-size-md);
    height: var(--switch-inner-size-md);
    left: calc((var(--switch-height-md) - var(--switch-inner-size-md)) / 2);
    top: calc((var(--switch-height-md) - var(--switch-inner-size-md)) / 2);
    border-radius: 100%;
    background-color: var(--color-white);
    content: " ";
    cursor: pointer;
    transition: var(--switch-transition);
  }

  @include m(checked) {
    background-color: var(--theme-primary);

    &:after {
      left: var(--switch-checked-left-md);
    }

    @include e(inner) {
      left: var(--switch-checked-inner-left-md);
    }
    @include e(loading) {
      display: inline-block;
      transform: scale(0.5);
      left: var(--switch-loading-checked-left-md);
      position: relative;

      circle {
        stroke: var(--theme-primary) !important;
        stroke-width: 10 !important;
      }
    }
  }

  @include m(disabled) {
    cursor: not-allowed;
    background-color: var(--switch-disabled-background);

    &:after {
      cursor: not-allowed;
    }

    @include m(checked) {
      background-color: var(--theme-primary);
      border: 1px solid var(--background-primary-disabled);
      opacity: var(--opacity-disabled);
    }
  }

  @include m(sm) {
    height: var(--switch-height-sm);
    width: var(--switch-width-sm);
    line-height: var(--switch-line-height-sm);
    border-radius: var(--switch-line-height-sm);

    &:after {
      width: var(--switch-inner-size-sm);
      height: var(--switch-inner-size-sm);
      top: calc((var(--switch-height-sm) - var(--switch-inner-size-sm)) / 2);
      left: calc((var(--switch-height-sm) - var(--switch-inner-size-sm)) / 2);
    }

    @include m(checked) {
      &:after {
        left: var(--switch-checked-left-sm);
      }

      @include e(inner) {
        left: var(--switch-checked-inner-left-sm);
        position: relative;
      }

      @include e(loading) {
        display: inline-block;
        font-size: 10px;
        transform: scale(0.4);
        top: var(--switch-loading-checked-top-sm);
        left: var(--switch-loading-checked-left-sm);
        position: relative;

        circle {
          stroke: var(--theme-primary) !important;
          stroke-width: 10 !important;
        }
      }
    }

    @include e(inner) {
      left: var(--switch-inner-left-sm);
      font-size: 10px;
      position: relative;
    }

    @include e(loading) {
      display: inline-block;
      font-size: 10px;
      transform: scale(0.4);
      top: var(--switch-loading-top-sm);
      left: var(--switch-loading-left-sm);
      z-index: 2;
      position: relative;

      circle {
        stroke: #dedede !important;
        stroke-width: 10 !important;
      }
    }
  }

  @include e(inner) {
    position: absolute;
    left: var(--switch-inner-left-md);
    color: #fff;
    font-size: 12px;
  }

  @include e(loading) {
    display: inline-block;
    transform: scale(0.5);
    left: var(--switch-loading-left-md);
    z-index: 2;
    position: relative;

    circle {
      stroke: #dedede !important;
      stroke-width: 10 !important;
    }
  }
}

