@import "../../style/themes/variable";
@import "../../style/core/index";

@include b(switch) {
  position: relative;
  display: inline-block;
  width: var(--switch-width-md);
  height: var(--switch-height-md);
  vertical-align: middle;
  border-radius: var(--switch-height-md);
  background-color: var(--switch-disabled-background);
  cursor: pointer;
  transition: left 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  user-select: none;

  &:after {
    position: absolute;
    width: calc(var(--switch-height-md) * 0.7);
    height: calc(var(--switch-height-md) * 0.7);
    left: calc((var(--switch-height-md) - var(--switch-height-md) * 0.7) / 2);
    top: calc((var(--switch-height-md) - var(--switch-height-md) * 0.7) / 2);
    border-radius: 100%;
    background-color: white;
    content: " ";
    cursor: pointer;
    transition: left 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }

  @include m(checked) {
    background-color: var(--theme-primary);

    &:after {
      left: calc(var(--switch-width-md) * 0.625);
    }
    @include e(loading) {
      width: calc(var(--switch-height-md) * 0.7);
      height: calc(var(--switch-height-md) * 0.7);
      left: calc(var(--switch-width-md) * 0.625);

      .za-activity-indicator {
        width: calc(var(--switch-height-md) * 0.7 * 0.8);
        height: calc(var(--switch-height-md) * 0.7 * 0.8);
      }

      circle {
        stroke: var(--theme-primary) !important;
        stroke-width: 10 !important;
      }
    }
  }

  @include m(disabled) {
    cursor: not-allowed;
    background-color: var(--switch-disabled-background);

    &:after {
      cursor: not-allowed;
    }

    @include m(checked) {
      background-color: var(--theme-primary);
      border: 1px solid var(--background-primary-disabled);
      opacity: var(--opacity-disabled);
    }
  }

  @include m(sm) {
    height: var(--switch-height-sm);
    width: var(--switch-width-sm);
    border-radius: var(--switch-height-sm);

    &:after {
      width: calc(var(--switch-height-sm) * 0.75);
      height: calc(var(--switch-height-sm) * 0.75);
      top: calc((var(--switch-height-sm) - var(--switch-height-sm) * 0.75) / 2);
      left: calc((var(--switch-height-sm) - var(--switch-height-sm) * 0.75) / 2);
    }

    @include m(checked) {
      &:after {
        left: calc(var(--switch-width-sm) * 0.54);
      }

      @include e(inner) {
        height: var(--switch-height-sm);
        width: var(--switch-width-sm);
        display: flex;
        align-items: center;
        position: relative;
      }

      @include e(loading) {
        width: calc(var(--switch-height-sm) * 0.75);
        height: calc(var(--switch-height-sm) * 0.75);
        left: calc(var(--switch-width-sm) * 0.54);

        .za-activity-indicator {
          width: calc(var(--switch-height-sm) * 0.75 * 0.8);
          height: calc(var(--switch-height-sm) * 0.75 * 0.8);
        }

        circle {
          stroke: var(--theme-primary) !important;
          stroke-width: 10 !important;
        }
      }
    }

    @include e(inner) {
      height: var(--switch-height-sm);
      width: var(--switch-width-sm);
      display: flex;
      align-items: center;
      position: relative;
    }

    @include e(loading) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: calc(var(--switch-height-sm) * 0.75);
      height: calc(var(--switch-height-sm) * 0.75);
      top: calc((var(--switch-height-sm) - var(--switch-height-sm) * 0.75) / 2);
      left: calc((var(--switch-height-sm) - var(--switch-height-sm) * 0.75) / 2);

      .za-activity-indicator {
        width: calc(var(--switch-height-sm) * 0.75 * 0.8);
        height: calc(var(--switch-height-sm) * 0.75 * 0.8);
      }

      circle {
        stroke: var(--switch-disabled-background) !important;
        stroke-width: 10 !important;
      }
    }
  }

  @include e(inner) {
    position: absolute;
    color: #fff;
    font-size: 12px;
  }

  @include e(loading) {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    width: calc(var(--switch-height-md) * 0.7);
    height: calc(var(--switch-height-md) * 0.7);
    left: calc((var(--switch-height-md) - var(--switch-height-md) * 0.7) / 2);
    top: calc((var(--switch-height-md) - var(--switch-height-md) * 0.7) / 2);

    .za-activity-indicator {
      width: calc(var(--switch-height-md) * 0.7 * 0.8);
      height: calc(var(--switch-height-md) * 0.7 * 0.8);
    }

    circle {
      stroke: #dedede !important;
      stroke-width: 10 !important;
    }
  }
}
