@include b(row) {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  zoom: 1;
  @include clearfix();

  @include m(flex) {
    display: flex;
    flex-wrap: wrap;
  }

  &--flex-start {
    justify-content: flex-start;
  }

  &--flex-end {
    justify-content: flex-end;
  }

  &--flex-center {
    justify-content: center;
  }

  &--flex-space-between {
    justify-content: space-between;
  }

  &--flex-space-around {
    justify-content: space-around;
  }

  &--flex-top {
    align-items: flex-start;
  }

  &--flex-bottom {
    align-items: flex-end;
  }

  &--flex-middle {
    align-items: center;
  }
}
