@include b(popover) {
  padding: 6px 12px;
  background: #fff;
  transform: translateX(-50%) rotate(45deg);
  font-size: 12px;
  border-radius: 3px;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
  z-index: 103;
  @include b(popover__arrow) {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: translateX(-50%) rotate(45deg);
  }

  &[x-placement^=top] {
    margin-bottom: 10px;

    @include b(popover__arrow) {
      bottom: -4px;
    }
  }

  &[x-placement^=right] {
    margin-left: 10px;

    @include b(popover__arrow) {
      left: 0;
    }
  }

  &[x-placement^=bottom] {
    margin-top: 10px;

    @include b(popover__arrow) {
      top: -4px;
    }
  }

  &[x-placement^=left] {
    margin-right: 10px;

    @include b(popover__arrow) {
      right: -8px;
    }
  }

  &-show {
    display: block;
  }

  &-radius {
    border-radius: 2px;
  }
}
