.ui-form {
  display: block;
  margin-top: 0;
}

.ui-form-item {
  margin-bottom: 24px;

  > label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color: #333;

    .ui-form-item-required {
      color: $base-theme-error;
      margin-right: 3px;
    }
  }

  $shadow-color: lighten($base-theme-error, 20%);

  &.has-error {
    .ui-form-item-control {
      position: relative;

      .ui-input,
      .ui-tag-input-box,
      .ui-select {
        border-color: $base-theme-error;
      }

      .ui-form-item-error {
        position: absolute;
        top: 100%;
        left: 0;
        padding-top: 4px;
        line-height: 1;
        color: $base-theme-error;
        font-size: 12px;
        //transition: color .3s $default-transition;
      }
    }
  }
}

.ui-form-horizontal {
  .ui-form-item {
    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
      visibility: hidden;
      font-size: 0;
      height: 0;
    }

    > label {
      padding-top: 6px;
      text-align: right;
    }
  }
}

.ui-form-inline {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }

  .ui-form-item {
    display: inline-block;

    > label {
      padding-right: 8px;
      text-align: right;
    }

    > .ui-form-item-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
  }
}
