@mixin panel-theme($color, $background, $border) {
  border-color: $border;

  .ui-panel-header {
    /*background-color: $background;*/
    border-color: $border;
    color: $color;
  }
}

.ui-panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  line-height: normal;

  /* panel themes */
  &.theme-default {
    @include panel-theme($base-btn-default-color, $base-btn-default-bg, $base-btn-default-border);
  }
  &.theme-info {
    @include panel-theme($base-btn-info-color, $base-btn-info-bg, $base-btn-info-border);
  }
  &.theme-success {
    @include panel-theme($base-btn-success-color, $base-btn-success-bg, $base-btn-success-border);
  }
  &.theme-warning {
    @include panel-theme($base-btn-warning-color, $base-btn-warning-bg, $base-btn-warning-border);
  }
  &.theme-error {
    @include panel-theme($base-btn-error-color, $base-btn-error-bg, $base-btn-error-border);
  }

  &.radius {
    border-radius: $base-radius;
  }
}

.ui-panel-header,
.ui-panel-footer {
  position: relative;
  height: 50px;
  line-height: 49px;
  padding: 0 15px;
}

.ui-panel-header {
  border-bottom: 1px solid #e9e9e9;
}
.ui-panel-footer {
  border-top: 1px solid #e9e9e9;
}

.ui-panel-body {
  padding: 15px;
}

.ui-panel-title {
  font-size: 14px;
}

.ui-panel-more {
  position: absolute;
  top: 0;
  right: 15px;
}
